---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Aplicación Kotek Virtual">
	<main>
		<section>
		</section>
	</main>
</Layout>

<style>
	main {
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: white;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	section{
		background-color: #F2F2F2;
		height: calc(100vh - 48px);
		margin: 24px;
		border-radius: 12px;
		background-image: url("/exterior-1.jpg");
		background-position: 50% 70%;
	}
</style>
