---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Documentación Comercial">
    <main>
		<section>
            <h1 class="header-title">Documentación Comercial</h1>
            <div class="grid-fichas">
            <a target="_blank" href="https://www.edificioriosar.es/memoria.pdf">Memoria de calidades</a>
            </div>
		</section>
	
    </main>
</Layout>



<style>
    body {
        overflow: hidden;
    }
    h1 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .header-title{
        font-size: 2rem;
        font-weight: 700;
        color: white;
        margin: 0 0 0px 0;
        padding: 0;
        text-align: center;        
    }    
    main {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    section {
        height: calc(100vh - 48px);
        margin: 24px;
        border-radius: 12px;
        background-position: 50% 70%;
        overflow: hidden;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    .grid-fichas {
        width: 100%;
        margin: 24px;
        border-radius: 12px;
        background-position: 50% 70%;
        padding-top: 64px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-row-gap: 64px;
        justify-items: center;
        align-items: top;
    }
    a {
        text-decoration: none;
        color: white;
        background-color: #637cff;
        padding: 16px;
        border-radius: 12px;
        width: 200px;
        text-align: center;
    }
    @media (orientation: portrait) {
        section {
            height: 80vh;
        }
        .header-title{
            font-size: 1.5rem;
            font-weight: 600;
            color: white;
            margin: 0 0 0px 0;
            padding: 0;
            text-align: center;        
        }        
    }
</style>

