---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Documentación Comercial">
    <main>
		<section>
            <h2>Documentación Comercial</h2>
            <div class="grid-fichas">
			<a href="#">Dossier Comercial</a>
            <a href="#">Memoria de calidades</a>
            <a href="#">Catálogo</a>
            </div>
		</section>
	
    </main>
</Layout>



<style>
	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	main{
		padding: 0;
		margin: 0;
		width: 100%;
	}
	section{
		height: calc(100vh - 48px);
		margin: 24px;
		border-radius: 12px;
		background-position: 50% 70%;
		overflow: scroll;
		overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
	}
	.grid-fichas{
        width: 100%;
		margin: 24px;
		border-radius: 12px;
		background-position: 50% 70%;
		padding-top: 64px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-row-gap: 64px;
		justify-items: center;
        align-items: top;


	}
    a{
        text-decoration: none;
        color: white;
        background-color: #637cff;
        padding: 16px;
        border-radius: 12px;
		width: 200px;
		text-align: center;

    }

</style>

