---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Renders de Exterior">
    <main>
        <section>
			<div class='imageWrapper'>
				<!-- fill with SVG areas -->
				<svg viewBox="0 0 100 100" class='image-area image-area--orange-1'>

					<g class="toprow" id="botonModal"><path d="M.1104-.0708 10.091.7768 10.1232 12.9302.0518 12.2774ZM15.6928 1.4544 39.7076 3.619 39.7084 15.1198 15.6694 13.4608ZM44.7904 3.9462 53.705 4.878 53.7396 16.3626 44.7944 15.7494ZM58.7162 5.2688 67.4978 5.9444 67.3938 17.3242 58.6642 16.7526ZM71.9666 6.516 95.4018 8.4906 95.5058 19.5586 71.9666 17.584Z" /></g>

				<g class="secondrow"><path d="M0 17 10 19 10 29 0 28Z" /></g>
			</svg>
				<!-- -->
				
				<img src="/exterior-1.jpg"/>
			  </div>

			  <div>
				<dialog id="fichaModal">
					<img src="ficha1.webp" alt="ficha comercial" class="modalImage">
				</dialog>
			  </div>
			
        </section>
    </main>
</Layout>

<script>
	const botonModal = document.getElementById("botonModal")
	const dialog = document.getElementById("fichaModal")

	botonModal.addEventListener("click", ()=>{
		dialog.showModal()
			})
	dialog.addEventListener('click', function(event) {
  var rect = dialog.getBoundingClientRect();
  var isInDialog = (rect.top <= event.clientY && event.clientY <= rect.top + rect.height &&
    rect.left <= event.clientX && event.clientX <= rect.left + rect.width);
  if (!isInDialog) {
    dialog.close();
  }
});
	
</script>


<style>
	main {
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: white;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	section{
		background-color: white;
		height: calc(100vh - 48px);
		margin: 24px;
		border-radius: 12px;
		background-position: 50% 70%;
		overflow: hidden;
	}
.imageWrapper {
  width: 100%;
  position: relative;

}

.imageWrapper img {
  width:100%; height:100%;
  object-fit: contain;
  border-radius: 12px;
}

.image-area{
  position: absolute;
  left: -6%;
    top: -32.5%;
    transform: scale(0.3);
}

.toprow{
	fill: #75A93A;
    fill-opacity: 0.3;
    cursor: pointer;

}
.secondrow{
	fill: #a93a3a;
    fill-opacity: 0.4;
    cursor: pointer;
}
.toprow :hover{
	fill-opacity: 0.8;


}
.secondrow :hover{
	fill-opacity: 0.8;
}
.modal-ficha{

}
dialog{
	height: calc(100vh - 16px);
	border: none;
}
dialog::backdrop{
	background-color: #26263399;
}
.modalImage{
	height: 99%;
	margin: 0px;
	border: none;
}

</style>
