---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Edificio Riosar">
    <main>
        <section class="section-pc">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1080">
        <image class="heroImage" width="1920" height="1080" href="/frontal.webp"></image>

            <rect id="ventanaA" x="44" y="590" class="secondrow" width="365" height="146"/>
            <text class="svg-text" x="160" y="670">Vendido</text>
            <rect id="ventanaB" x="480" y="593" class="secondrow" width="498" height="146" />
            <text class="svg-text" x="650" y="670">Vendido</text>
            <rect id="ventanaC" x="1010" y="596" class="toprow" width="503" height="146" />
            <text class="svg-text" x="1200" y="670">Disponible</text>
            <rect id="ventanaD" x="1573" y="600" class="secondrow" width="285" height="142" />
            <text class="svg-text" x="1650" y="670">Vendido</text>
            
            <rect id="ventanaE" x="51" y="401" class="secondrow" width="355" height="137" />
            <text class="svg-text" x="160" y="480">Vendido</text>
            <rect id="ventanaF" x="478" y="407" class="toprow" width="505" height="131" />
            <text class="svg-text" x="650" y="480">Disponible</text>
            <rect id="ventanaG" x="1011" y="408" class="toprow" width="305" height="132" />
            <text class="svg-text" x="1095" y="480">Disponible</text>
            <rect id="ventanaH" x="1346" y="410" class="toprow" width="346" height="133" />
            <text class="svg-text" x="1450" y="480">Disponible</text>
            <rect id="ventanaI" x="1726" y="412" class="secondrow" width="136" height="133" />
            <text class="svg-text" x="1730" y="490">Vendido</text>
            
            <rect id="ventanaJ" x="52" y="217" class="secondrow" width="359" height="135" />
            <text class="svg-text" x="160" y="297">Vendido</text>
            <rect id="ventanaK" x="474" y="220" class="secondrow" width="302" height="142" />
            <text class="svg-text" x="570" y="297">Vendido</text>

    </svg>

			 

			  <div>
				<dialog id="fichaVentanaA">
					<button class="closeButton"> &#9587;</button>
					<img src="/miniaturaA.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog id="fichaVentanaB">
					<button class="closeButton"> &#9587;</button>
					<img src="/miniaturaB.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog id="fichaVentanaC">
					<button class="closeButton"> &#9587;</button>
					<img src="/miniaturaC.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog id="fichaVentanaD">
					<button class="closeButton"> &#9587;</button>
					<img src="/miniaturaD.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog id="fichaVentanaE">
					<button class="closeButton"> &#9587;</button>
					<img src="/miniaturaE.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog id="fichaVentanaF">
					<button class="closeButton"> &#9587;</button>
					<img src="/miniaturaF.webp" alt="ficha comercial" class="modalImage">
				</dialog>
        <dialog id="fichaVentanaG">
          <button class="closeButton"> &#9587;</button>
          <img src="/miniaturaG.webp" alt="ficha comercial" class="modalImage">
        </dialog>
        <dialog id="fichaVentanaH">
          <button class="closeButton"> &#9587;</button>
          <img src="/miniaturaH.webp" alt="ficha comercial" class="modalImage">
        </dialog>
        <dialog id="fichaVentanaI">
          <button class="closeButton"> &#9587;</button>
          <img src="/miniaturaI.webp" alt="ficha comercial" class="modalImage">
        </dialog>
        <dialog id="fichaVentanaJ">
          <button class="closeButton"> &#9587;</button>
          <img src="/miniaturaJ.webp" alt="ficha comercial" class="modalImage">
        </dialog>
        <dialog id="fichaVentanaK">
          <button class="closeButton"> &#9587;</button>
          <img src="/miniaturaK.webp" alt="ficha comercial" class="modalImage">
        </dialog>
				
			  </div>
			
        </section>
		<section class="section-mobile">
			<div class='imageWrapperHero'>
				<!-- fill with SVG areas -->
				<svg viewBox="0 0 1920 1080" class='image-area image-area--orange-1'>
					
					
					<rect id="ventanaMovilA" x="44" y="590" class="ventanaMovilA secondrow" width="365" height="146"/>
					<text class="svg-number" x="160" y="710">1</text>
					<rect id="ventanaMovilB" x="480" y="593" class=" ventanaMovilB secondrow" width="498" height="146" />
					<text class="svg-number" x="650" y="710">2</text>
					<rect id="ventanaMovilC" x="1010" y="596" class="ventanaMovilC toprow" width="503" height="146" />
					<text class="svg-number" x="1200" y="710">3</text>
					<rect id="ventanaMovilD" x="1573" y="600" class="ventanaMovilD secondrow" width="285" height="142" />
					<text class="svg-number" x="1650" y="710">4</text>
					
					<rect id="ventanaMovilE" x="51" y="401" class="ventanaMovilE secondrow" width="355" height="137" />
					<text class="svg-number" x="160" y="520">5</text>
					<rect id="ventanaMovilF" x="478" y="407" class="ventanaMovilF toprow" width="505" height="131" />
					<text class="svg-number" x="650" y="520">6</text>
					<rect id="ventanaMovilG" x="1011" y="408" class="ventanaMovilG toprow" width="305" height="132" />
					<text class="svg-number" x="1095" y="520">7</text>
					<rect id="ventanaMovilH" x="1346" y="410" class="ventanaMovilH toprow" width="346" height="133" />
					<text class="svg-number" x="1450" y="520">8</text>
					<rect id="ventanaMovilI" x="1726" y="412" class="ventanaMovilI secondrow" width="136" height="133" />
					<text class="svg-number" x="1760" y="520">9</text>
					
					<rect id="ventanaMovilJ" x="52" y="217" class="ventanaMovilJ secondrow" width="359" height="135" />
					<text class="svg-number" x="160" y="320">10</text>
					<rect id="ventanaMovilK" x="474" y="220" class="ventanaMovilK secondrow" width="302" height="142" />
					<text class="svg-number" x="570" y="320">11</text>

					


			</svg>
				<!-- -->
				
				<img src="/frontal.webp"/>
			  </div>


			  <div>
				<dialog class="fichaMovil" id="fichaventanaMovilA">
					<button class="closeButton"> &#9587;</button>
					<img src="/miniaturaA.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog class="fichaMovil" id="fichaventanaMovilB">
					<button class="closeButton"> &#9587;</button>
					<img src="/miniaturaB.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog class="fichaMovil" id="fichaventanaMovilC">
					<button class="closeButton"> &#9587;</button>
					<img src="/miniaturaC.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog class="fichaMovil" id="fichaventanaMovilD">
					<button class="closeButton"> &#9587;</button>
					<img src="/miniaturaD.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog class="fichaMovil" id="fichaventanaMovilE">
					<button class="closeButton"> &#9587;</button>
					<img src="/miniaturaE.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog class="fichaMovil" id="fichaventanaMovilF">
					<button class="closeButton"> &#9587;</button>
					<img src="/miniaturaF.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog class="fichaMovil" id="fichaventanaMovilG">
					<button class="closeButton"> &#9587;</button>
					<img src="/miniaturaG.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog class="fichaMovil" id="fichaventanaMovilH">
					<button class="closeButton"> &#9587;</button>
					<img src="/miniaturaH.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog class="fichaMovil" id="fichaventanaMovilI">
					<button class="closeButton"> &#9587;</button>
					<img src="/miniaturaI.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog class="fichaMovil" id="fichaventanaMovilJ">
					<button class="closeButton"> &#9587;</button>
					<img src="/miniaturaJ.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog class="fichaMovil" id="fichaventanaMovilK">
					<button class="closeButton"> &#9587;</button>
					<img src="/miniaturaK.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				
			  </div>
			  <div class="mobile-text">
				<ul class="mobile-ul">
					<li class="ventanaMovilA">1. Planta 1 - A | 3 dormitorios <br> &nbsp; &nbsp; 345.890€ | 83m²<span class="ventanaMovilA textoDisponible">Disponible</span></li>
					<li class="detalle-par ventanaMovilB">2. Planta 1 - B - 2 dormitorios <br> &nbsp; &nbsp; 286.916€ | 64m²<span class="ventanaMovilB textoDisponible">Disponible</span></li>
					<li class="ventanaMovilC">3. Planta 1 - C - 2 dormitorios <br> &nbsp; &nbsp; 296.166€ | 78m²<span class="ventanaMovilC textoVendido">Vendido</span></li>
					<li class="detalle-par ventanaMovilD">4. Planta 1 - D - 3 dormitorios <br> &nbsp; &nbsp; 391.210€ | 101m²<span class="ventanaMovilD textoDisponible">Disponible</span></li>
					<li class="ventanaMovilE">5. Planta 2 - E - 2 dormitorios <br> &nbsp; &nbsp; 282.113€ | 80m²<span class="ventanaMovilE textoDisponible">Disponible</span></li>
					<li class="detalle-par ventanaMovilF">6. Planta 2 - F - 2 dormitorios <br> &nbsp; &nbsp; 264.003€ | 64m²<span class="ventanaMovilF textoVendido">Vendido</span></li>
					<li class="ventanaMovilG">7. Planta 2 - G - 2 dormitorios <br> &nbsp; &nbsp; 309.311€ | 82m²<span class="ventanaMovilG textoVendido">Vendido</span></li>
					<li class="detalle-par ventanaMovilH">8. Planta 2 - H - 3 dormitorios <br> &nbsp; &nbsp; 400.832€ | 93m²<span class="ventanaMovilH textoVendido">Vendido</span></li>
					<li class="ventanaMovilI">9. Planta 2 - I - 3 dormitorios <br> &nbsp; &nbsp; 373.584€ | 99m²<span class="ventanaMovilI textoDisponible">Disponible</span></li>
					<li class="detalle-par ventanaMovilJ">10. Planta 3 - J - 4 dormitorios <br> &nbsp; &nbsp; 436.823€ | 115m²<span class="ventanaMovilJ textoDisponible">Disponible</span></li>
					<li class="ventanaMovilK">11. Planta 3 - K - 2 dormitorios <br> &nbsp; &nbsp; 318.217€ | 72m²<span class="ventanaMovilK textoDisponible">Disponible</span></li>
					<li class=""><br><br> &nbsp; &nbsp; </li>
					
				</ul>
			</div>
			
        </section>
    </main>
</Layout>

	<script type="module">
		document.querySelector("#ventanaA").addEventListener("click",()=>{
		document.getElementById("fichaVentanaA").showModal()
	})
	document.querySelector("#ventanaB").addEventListener("click",()=>{
		document.getElementById("fichaVentanaB").showModal()
	})
	document.querySelector("#ventanaC").addEventListener("click",()=>{
		document.getElementById("fichaVentanaC").showModal()
	})
	document.querySelector("#ventanaD").addEventListener("click",()=>{
		document.getElementById("fichaVentanaD").showModal()
	})
	document.querySelector("#ventanaE").addEventListener("click",()=>{
		document.getElementById("fichaVentanaE").showModal()
	})
	document.querySelector("#ventanaF").addEventListener("click",()=>{
		document.getElementById("fichaVentanaF").showModal()
	})
	document.querySelector("#ventanaG").addEventListener("click",()=>{
		document.getElementById("fichaVentanaG").showModal()
	})
	document.querySelector("#ventanaH").addEventListener("click",()=>{
		document.getElementById("fichaVentanaH").showModal()
	})
	document.querySelector("#ventanaI").addEventListener("click",()=>{
		document.getElementById("fichaVentanaI").showModal()
	})
	document.querySelector("#ventanaJ").addEventListener("click",()=>{
		document.getElementById("fichaVentanaJ").showModal()
	})
	document.querySelector("#ventanaK").addEventListener("click",()=>{
		document.getElementById("fichaVentanaK").showModal()
	})

document.querySelectorAll(".closeButton").forEach((button)=>{
	button.addEventListener('click',()=>{
		document.querySelectorAll(".fichaMovil").forEach((m)=>m.close())}
	)
})

	
		document.getElementById("fichaVentanaA").addEventListener('click', (event)=> {
			  let rect = document.getElementById("fichaVentanaA").getBoundingClientRect();
			  let isInDialogA = (rect.top <= event.clientY && event.clientY <= rect.top + rect.height &&
			rect.left <= event.clientX && event.clientX <= rect.left + rect.width);
			  if (!isInDialogA) {
				document.getElementById("fichaVentanaA").close();
			  }
		});
		document.getElementById("fichaVentanaB").addEventListener('click', (event)=> {
			  let rectB = document.getElementById("fichaVentanaB").getBoundingClientRect();
			  let isInDialogB = (rectB.top <= event.clientY && event.clientY <= rectB.top + rectB.height &&
			rectB.left <= event.clientX && event.clientX <= rectB.left + rectB.width);
			  if (!isInDialogB) {
				document.getElementById("fichaVentanaB").close();
			  }
		});
		document.getElementById("fichaVentanaC").addEventListener('click', (event)=> {
			  let rectC = document.getElementById("fichaVentanaC").getBoundingClientRect();
			  let isInDialogC = (rectC.top <= event.clientY && event.clientY <= rectC.top + rectC.height &&
			rectC.left <= event.clientX && event.clientX <= rectC.left + rectC.width);
			  if (!isInDialogC) {
				document.getElementById("fichaVentanaC").close();
			  }
		});
		document.getElementById("fichaVentanaD").addEventListener('click', (event)=> {
			  let rectD = document.getElementById("fichaVentanaD").getBoundingClientRect();
			  let isInDialogD = (rectD.top <= event.clientY && event.clientY <= rectD.top + rectD.height &&
			rectD.left <= event.clientX && event.clientX <= rectD.left + rectD.width);
			  if (!isInDialogD) {
				document.getElementById("fichaVentanaD").close();
			  }
		});
		document.getElementById("fichaVentanaE").addEventListener('click', (event)=> {
			  let rectE = document.getElementById("fichaVentanaE").getBoundingClientRect();
			  let isInDialogE = (rectE.top <= event.clientY && event.clientY <= rectE.top + rectE.height &&
			rectE.left <= event.clientX && event.clientX <= rectE.left + rectE.width);
			  if (!isInDialogE) {
				document.getElementById("fichaVentanaE").close();
			  }
		});
		document.getElementById("fichaVentanaF").addEventListener('click', (event)=> {
			  let rectF = document.getElementById("fichaVentanaF").getBoundingClientRect();
			  let isInDialogF = (rectF.top <= event.clientY && event.clientY <= rectF.top + rectF.height &&
			rectF.left <= event.clientX && event.clientX <= rectF.left + rectF.width);
			  if (!isInDialogF) {
				document.getElementById("fichaVentanaF").close();
			  }
		});
		document.getElementById("fichaVentanaG").addEventListener('click', (event)=> {
			  let rectG = document.getElementById("fichaVentanaG").getBoundingClientRect();
			  let isInDialogG = (rectG.top <= event.clientY && event.clientY <= rectG.top + rectG.height &&
			rectG.left <= event.clientX && event.clientX <= rectG.left + rectG.width);
			  if (!isInDialogG) {
				document.getElementById("fichaVentanaG").close();
			  }
		});
		document.getElementById("fichaVentanaH").addEventListener('click', (event)=> {
			  let rectH = document.getElementById("fichaVentanaH").getBoundingClientRect();
			  let isInDialogH = (rectH.top <= event.clientY && event.clientY <= rectH.top + rectH.height &&
			rectH.left <= event.clientX && event.clientX <= rectH.left + rectH.width);
			  if (!isInDialogH) {
				document.getElementById("fichaVentanaH").close();
			  }
		});
		document.getElementById("fichaVentanaI").addEventListener('click', (event)=> {
			  let rectI = document.getElementById("fichaVentanaI").getBoundingClientRect();
			  let isInDialogI = (rectI.top <= event.clientY && event.clientY <= rectI.top + rectI.height &&
			rectI.left <= event.clientX && event.clientX <= rectI.left + rectI.width);
			  if (!isInDialogI) {
				document.getElementById("fichaVentanaI").close();
			  }
		});
		document.getElementById("fichaVentanaJ").addEventListener('click', (event)=> {
			  let rectJ = document.getElementById("fichaVentanaJ").getBoundingClientRect();
			  let isInDialogJ = (rectJ.top <= event.clientY && event.clientY <= rectJ.top + rectJ.height &&
			rectJ.left <= event.clientX && event.clientX <= rectJ.left + rectJ.width);
			  if (!isInDialogJ) {
				document.getElementById("fichaVentanaJ").close();
			  }
		});
		document.getElementById("fichaVentanaK").addEventListener('click', (event)=> {
			  let rectK = document.getElementById("fichaVentanaK").getBoundingClientRect();
			  let isInDialogK = (rectK.top <= event.clientY && event.clientY <= rectK.top + rectK.height &&
			rectK.left <= event.clientX && event.clientX <= rectK.left + rectK.width);
			  if (!isInDialogK) {
				document.getElementById("fichaVentanaK").close();
			  }
		});

		/*parte movil*/
	document.querySelectorAll(".ventanaMovilA").forEach(v=>{
		v.addEventListener("click",()=>{
		document.getElementById("fichaventanaMovilA").showModal()
		})
	})
	document.querySelectorAll(".ventanaMovilB").forEach(v=>{
		v.addEventListener("click",()=>{
		document.getElementById("fichaventanaMovilB").showModal()
		})
	})
	document.querySelectorAll(".ventanaMovilC").forEach(v=>{
		v.addEventListener("click",()=>{
		document.getElementById("fichaventanaMovilC").showModal()
		})
	})
	document.querySelectorAll(".ventanaMovilD").forEach(v=>{
		v.addEventListener("click",()=>{
		document.getElementById("fichaventanaMovilD").showModal()
		})
	})
	document.querySelectorAll(".ventanaMovilE").forEach(v=>{
		v.addEventListener("click",()=>{
		document.getElementById("fichaventanaMovilE").showModal()
		})
	})
	document.querySelectorAll(".ventanaMovilF").forEach(v=>{
		v.addEventListener("click",()=>{
		document.getElementById("fichaventanaMovilF").showModal()
		})
	})
		document.querySelectorAll(".ventanaMovilG").forEach(v=>{
		v.addEventListener("click",()=>{
		document.getElementById("fichaventanaMovilG").showModal()
		})
	})
	document.querySelectorAll(".ventanaMovilH").forEach(v=>{
		v.addEventListener("click",()=>{
		document.getElementById("fichaventanaMovilH").showModal()
		})
	})
	document.querySelectorAll(".ventanaMovilI").forEach(v=>{
		v.addEventListener("click",()=>{
		document.getElementById("fichaventanaMovilI").showModal()
		})
	})
	document.querySelectorAll(".ventanaMovilJ").forEach(v=>{
		v.addEventListener("click",()=>{
		document.getElementById("fichaventanaMovilJ").showModal()
		})
	})
	document.querySelectorAll(".ventanaMovilK").forEach(v=>{
		v.addEventListener("click",()=>{
		document.getElementById("fichaventanaMovilK").showModal()
		})
	})
	

	
		document.getElementById("fichaventanaMovilA").addEventListener('click', (event)=> {
			  let rect = document.getElementById("fichaventanaMovilA").getBoundingClientRect();
			  let isInDialogA = (rect.top <= event.clientY && event.clientY <= rect.top + rect.height &&
			rect.left <= event.clientX && event.clientX <= rect.left + rect.width);
			  if (!isInDialogA) {
				document.getElementById("fichaventanaMovilA").close();
			  }
		});
		document.getElementById("fichaventanaMovilB").addEventListener('click', (event)=> {
			  let rectB = document.getElementById("fichaventanaMovilB").getBoundingClientRect();
			  let isInDialogB = (rectB.top <= event.clientY && event.clientY <= rectB.top + rectB.height &&
			rectB.left <= event.clientX && event.clientX <= rectB.left + rectB.width);
			  if (!isInDialogB) {
				document.getElementById("fichaventanaMovilB").close();
			  }
		});
		document.getElementById("fichaventanaMovilC").addEventListener('click', (event)=> {
			  let rectC = document.getElementById("fichaventanaMovilC").getBoundingClientRect();
			  let isInDialogC = (rectC.top <= event.clientY && event.clientY <= rectC.top + rectC.height &&
			rectC.left <= event.clientX && event.clientX <= rectC.left + rectC.width);
			  if (!isInDialogC) {
				document.getElementById("fichaventanaMovilC").close();
			  }
		});
		document.getElementById("fichaventanaMovilD").addEventListener('click', (event)=> {
			  let rectD = document.getElementById("fichaventanaMovilD").getBoundingClientRect();
			  let isInDialogD = (rectD.top <= event.clientY && event.clientY <= rectD.top + rectD.height &&
			rectD.left <= event.clientX && event.clientX <= rectD.left + rectD.width);
			  if (!isInDialogD) {
				document.getElementById("fichaventanaMovilD").close();
			  }
		});
		document.getElementById("fichaventanaMovilE").addEventListener('click', (event)=> {
			  let rectE = document.getElementById("fichaventanaMovilE").getBoundingClientRect();
			  let isInDialogE = (rectE.top <= event.clientY && event.clientY <= rectE.top + rectE.height &&
			rectE.left <= event.clientX && event.clientX <= rectE.left + rectE.width);
			  if (!isInDialogE) {
				document.getElementById("fichaventanaMovilE").close();
			  }
		});
		document.getElementById("fichaventanaMovilF").addEventListener('click', (event)=> {
			  let rectF = document.getElementById("fichaventanaMovilF").getBoundingClientRect();
			  let isInDialogF = (rectF.top <= event.clientY && event.clientY <= rectF.top + rectF.height &&
			rectF.left <= event.clientX && event.clientX <= rectF.left + rectF.width);
			  if (!isInDialogF) {
				document.getElementById("fichaventanaMovilF").close();
			  }
		});
		document.getElementById("fichaventanaMovilG").addEventListener('click', (event)=> {
			  let rectG = document.getElementById("fichaventanaMovilG").getBoundingClientRect();
			  let isInDialogG = (rectG.top <= event.clientY && event.clientY <= rectG.top + rectG.height &&
			rectG.left <= event.clientX && event.clientX <= rectG.left + rectG.width);
			  if (!isInDialogG) {
				document.getElementById("fichaventanaMovilG").close();
			  }
		});
		document.getElementById("fichaventanaMovilH").addEventListener('click', (event)=> {
			  let rectH = document.getElementById("fichaventanaMovilH").getBoundingClientRect();
			  let isInDialogH = (rectH.top <= event.clientY && event.clientY <= rectH.top + rectH.height &&
			rectH.left <= event.clientX && event.clientX <= rectH.left + rectH.width);
			  if (!isInDialogH) {
				document.getElementById("fichaventanaMovilH").close();
			  }
		});
		document.getElementById("fichaventanaMovilI").addEventListener('click', (event)=> {
			  let rectI = document.getElementById("fichaventanaMovilI").getBoundingClientRect();
			  let isInDialogI = (rectI.top <= event.clientY && event.clientY <= rectI.top + rectI.height &&
			rectI.left <= event.clientX && event.clientX <= rectI.left + rectI.width);
			  if (!isInDialogI) {
				document.getElementById("fichaventanaMovilI").close();
			  }
		});
		document.getElementById("fichaventanaMovilJ").addEventListener('click', (event)=> {
			  let rectJ = document.getElementById("fichaventanaMovilJ").getBoundingClientRect();
			  let isInDialogJ = (rectJ.top <= event.clientY && event.clientY <= rectJ.top + rectJ.height &&
			rectJ.left <= event.clientX && event.clientX <= rectJ.left + rectJ.width);
			  if (!isInDialogJ) {
				document.getElementById("fichaventanaMovilJ").close();
			  }
		});
		document.getElementById("fichaventanaMovilK").addEventListener('click', (event)=> {
			  let rectK = document.getElementById("fichaventanaMovilK").getBoundingClientRect();
			  let isInDialogK = (rectK.top <= event.clientY && event.clientY <= rectK.top + rectK.height &&
			rectK.left <= event.clientX && event.clientX <= rectK.left + rectK.width);
			  if (!isInDialogK) {
				document.getElementById("fichaventanaMovilK").close();
			  }
		});
		</script>



<style>
    body {
        overflow: hidden;
    }
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    section {
        background-color: hsl(240, 15%, 17%);
        height: calc(100vh - 48px);
        margin: 24px;
        border-radius: 12px;
        overflow: visible;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imageWrapperHero {
        position: relative;
        max-height: calc(100vh - 48px);
    }
    .imageWrapperHero img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }
    .image-area {
        position: absolute;
        left: 0;
        top: 0;
    }
    .toprow {
        fill: #75A93A;
        fill-opacity: 0.3;
        cursor: pointer;
        stroke: white;
        stroke-width: 2;
    }
    .secondrow {
        fill: #a93a3a;
        fill-opacity: 0.4;
        cursor: pointer;
        stroke: white;
        stroke-width: 2;
    }
    .toprow:hover {
        fill-opacity: 0.8;
    }
    .secondrow:hover {
        fill-opacity: 0.8;
    }
    .modal-ficha {
    }
    dialog {
        height: calc(100vh - 16px);
        border: none;
    }
    dialog::backdrop {
        background-color: #26263399;
    }
    .modalImage {
        height: 99%;
        margin: 0px;
        border: none;
    }
    .outline {
        fill: none;
        stroke: white;
        stroke-width: .2;
    }
    .section-mobile {
        display: none;
    }
    .fichaMovil {
        height: fit-content;
        width: fit-content;
    }
    .fichaMovil img {
        width: 90vw;
        aspect-ratio: 2481 / 3509;
        height: auto;
    }
    .mobile-ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
	.mobile-ul li {
		padding-block: 8px;
	}

    .closeButton {
        position: fixed;
        top: 8px;
        right: 8px;
        height: 48px;
        width: 48px;
        outline: none;
        background-color: hsl(240, 15%, 27%);
        color: hsl(240, 15%, 97%);
        cursor: pointer;
        font-size: 16pt;
        border: 2px hsl(240, 15%, 27%) solid;
        border-radius: 250px;
        text-align: center;
        padding: 0;
    }
    .detalle-par {
        background-color: hsl(240, 15%, 37%);
    }
	.svg-text{
		fill: white;
		font: 400 1.5rem "Poppins", sans-serif;
		pointer-events: none;
	}
	.svg-number {
		fill: black;
		stroke: white;
		stroke-width: 2px;
		font: bold 3rem "Poppins", sans-serif;
		pointer-events: none;
	}
	.textoDisponible {
		color: #75A93A;
		font-weight: 600;
	}
	.textoVendido{
		color: #ff0000;
		font-weight: 600;
	}
	.mobile-text li span {
		
	}
	.mobile-text li:hover span {
		display: inline-block;
		color: hsl(240, 15%, 97%);
		background-color: hsl(240, 15%, 27%);
		padding-inline: 8px;
		border-radius: 4px;
	}
	.ventanaMovilA, .ventanaMovilB, .ventanaMovilC, .ventanaMovilD, .ventanaMovilE, .ventanaMovilF, .ventanaMovilG, .ventanaMovilH, .ventanaMovilI, .ventanaMovilJ, .ventanaMovilK {
		cursor: pointer;
	}
	@media (max-width: 768px) {
		h1 {
			font-size: 2.5rem;
			margin-bottom: 16px;
		}
	}
    /* CSS Móvil */
    @media (orientation: portrait) {
        .section-pc {
            display: none;
        }
        .section-mobile {
            display: flex;
			justify-content: flex-start;
            flex-direction: column;
			height: 100%;
			margin-block: 0;
			padding-top: 16px;
        }
        main {
            height: calc(100dvh - 80px);
            overflow-y: hidden;
			overflow-x: hidden;
        }
        .mobile-text {
            display: flex;
            color: white;
            width: 100vw;
            padding: 0;
			overflow: auto;
        }
        .mobile-text ul {
            width: 100%;
            padding-inline: 0;
            gap: 0;
        }
        .mobile-text li {
            display: flex;
            justify-content: space-between;
            padding-inline: 16px;
        }
    }
    .svg-number {
        fill: black;
        stroke: white;
        stroke-width: 2px;
        font: bold 6rem "Poppins", sans-serif;
    }
</style>
