---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Fichas Comerciales">
    <main>
		<section class="grid-fichas">
			<img src="/viviendaA.webp" id="botonA" class="boton-ficha" alt="ficha comercial A">
			<img src="/viviendaB.webp" id="botonB" class="boton-ficha" alt="ficha comercial B">
			<img src="/viviendaC.webp" id="botonC" class="boton-ficha" alt="ficha comercial C">
			<img src="/viviendaD.webp" id="botonD" class="boton-ficha" alt="ficha comercial D">
			<img src="/viviendaE.webp" id="botonE" class="boton-ficha" alt="ficha comercial E">
			<img src="/viviendaF.webp" id="botonF" class="boton-ficha" alt="ficha comercial F">
			<img src="/viviendaG.webp" id="botonG" class="boton-ficha" alt="ficha comercial G">
			<img src="/viviendaH.webp" id="botonH" class="boton-ficha" alt="ficha comercial H">
			<img src="/viviendaI.webp" id="botonI" class="boton-ficha" alt="ficha comercial I">
			<img src="/viviendaJ.webp" id="botonJ" class="boton-ficha" alt="ficha comercial J">
			<img src="/viviendaK.webp" id="botonK" class="boton-ficha" alt="ficha comercial K">	
		</section>
		<div>
			<dialog id="fichaModalA">
				<button class="closeButton"> &#9587;</button>
				<img src="/viviendaA.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="fichaModalB">
				<button class="closeButton"> &#9587;</button>
				<img src="/viviendaB.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="fichaModalC">
				<button class="closeButton"> &#9587;</button>
				<img src="/viviendaC.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="fichaModalD">
				<button class="closeButton"> &#9587;</button>
				<img src="/viviendaD.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="fichaModalE">
				<button class="closeButton"> &#9587;</button>
				<img src="/viviendaE.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="fichaModalF">
				<button class="closeButton"> &#9587;</button>
				<img src="/viviendaF.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="fichaModalG">
				<button class="closeButton"> &#9587;</button>
				<img src="/viviendaG.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="fichaModalH">
				<button class="closeButton"> &#9587;</button>
				<img src="/viviendaH.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="fichaModalI">
				<button class="closeButton"> &#9587;</button>
				<img src="/viviendaI.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="fichaModalJ">
				<button class="closeButton"> &#9587;</button>
				<img src="/viviendaJ.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="fichaModalK">
				<button class="closeButton"> &#9587;</button>
				<img src="/viviendaK.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			
		  </div>
    </main>
</Layout>



<style>
    body {
        overflow: hidden;
    }
    main {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    h1 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    section {
        height: calc(100vh - 48px);
        margin: 24px;
        border-radius: 12px;
        background-position: 50% 70%;
        overflow: visible;
        overflow-x: hidden;
    }
    .grid-fichas {
        padding-top: 24px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-row-gap: 24px;
        justify-items: center;
        justify-content: center;
    }
    .boton-ficha {
        width: 300px;
        border: 1px solid hsl(240, 15%, 97%);
        border-radius: 12px;
        cursor: pointer;
    }
    dialog {
        height: 90vh;
        border: none;
    }
    dialog::backdrop {
        background-color: #26263399;
    }
    .modalImage {
        height: 99%;
        margin: 0px;
        border: none;
    }
	#botonK{
		margin-bottom: 180px;
	}
    .closeButton {
        position: fixed;
        top: 8px;
        right: 8px;
        height: 48px;
        width: 48px;
        outline: none;
        background-color: hsl(240, 15%, 27%);
        color: hsl(240, 15%, 97%);
        cursor: pointer;
        font-size: 16pt;
        border: 2px hsl(240, 15%, 27%) solid;
        border-radius: 250px;
        text-align: center;
        padding: 0;
    }
    @media (orientation: portrait) {
        main {
            height: calc(100dvh - 80px);
        }
        dialog {
            width: fit-content;
            height: fit-content;
        }
        .modalImage {
            height: 90dvh;
            aspect-ratio: 2481 / 3509;
            width: auto;
        }
        section {
            padding: 0;
            margin: 0;
        }
        section :last-child {
            margin-bottom: 280px;
        }
    }
</style>

<script type="module">
	
 	document.querySelector("#botonA").addEventListener("click",()=>{
		document.getElementById("fichaModalA").showModal()
	})
	document.querySelector("#botonB").addEventListener("click",()=>{
		document.getElementById("fichaModalB").showModal()
	})
	document.querySelector("#botonC").addEventListener("click",()=>{
		document.getElementById("fichaModalC").showModal()
	})
	document.querySelector("#botonD").addEventListener("click",()=>{
		document.getElementById("fichaModalD").showModal()
	})
	document.querySelector("#botonE").addEventListener("click",()=>{
		document.getElementById("fichaModalE").showModal()
	})
	document.querySelector("#botonF").addEventListener("click",()=>{
		document.getElementById("fichaModalF").showModal()
	})
	document.querySelector("#botonG").addEventListener("click",()=>{
		document.getElementById("fichaModalG").showModal()
	})
	document.querySelector("#botonH").addEventListener("click",()=>{
		document.getElementById("fichaModalH").showModal()
	})
	document.querySelector("#botonI").addEventListener("click",()=>{
		document.getElementById("fichaModalI").showModal()
	})
	document.querySelector("#botonJ").addEventListener("click",()=>{
		document.getElementById("fichaModalJ").showModal()
	})
	document.querySelector("#botonK").addEventListener("click",()=>{
		document.getElementById("fichaModalK").showModal()
	})



	
		document.getElementById("fichaModalA").addEventListener('click', (event)=> {
			  let rect = document.getElementById("fichaModalA").getBoundingClientRect();
			  let isInDialogA = (rect.top <= event.clientY && event.clientY <= rect.top + rect.height &&
			rect.left <= event.clientX && event.clientX <= rect.left + rect.width);
			  if (!isInDialogA) {
				document.getElementById("fichaModalA").close();
			  }
		});
		document.getElementById("fichaModalB").addEventListener('click', (event)=> {
			  let rectB = document.getElementById("fichaModalB").getBoundingClientRect();
			  let isInDialogB = (rectB.top <= event.clientY && event.clientY <= rectB.top + rectB.height &&
			rectB.left <= event.clientX && event.clientX <= rectB.left + rectB.width);
			  if (!isInDialogB) {
				document.getElementById("fichaModalB").close();
			  }
		});
		document.getElementById("fichaModalC").addEventListener('click', (event)=> {
			  let rectC = document.getElementById("fichaModalC").getBoundingClientRect();
			  let isInDialogC = (rectC.top <= event.clientY && event.clientY <= rectC.top + rectC.height &&
			rectC.left <= event.clientX && event.clientX <= rectC.left + rectC.width);
			  if (!isInDialogC) {
				document.getElementById("fichaModalC").close();
			  }
		});
		document.getElementById("fichaModalD").addEventListener('click', (event)=> {
			  let rectD = document.getElementById("fichaModalD").getBoundingClientRect();
			  let isInDialogD = (rectD.top <= event.clientY && event.clientY <= rectD.top + rectD.height &&
			rectD.left <= event.clientX && event.clientX <= rectD.left + rectD.width);
			  if (!isInDialogD) {
				document.getElementById("fichaModalD").close();
			  }
		});
		document.getElementById("fichaModalE").addEventListener('click', (event)=> {
			  let rectE = document.getElementById("fichaModalE").getBoundingClientRect();
			  let isInDialogE = (rectE.top <= event.clientY && event.clientY <= rectE.top + rectE.height &&
			rectE.left <= event.clientX && event.clientX <= rectE.left + rectE.width);
			  if (!isInDialogE) {
				document.getElementById("fichaModalE").close();
			  }
		});
		document.getElementById("fichaModalF").addEventListener('click', (event)=> {
			  let rectF = document.getElementById("fichaModalF").getBoundingClientRect();
			  let isInDialogF = (rectF.top <= event.clientY && event.clientY <= rectF.top + rectF.height &&
			rectF.left <= event.clientX && event.clientX <= rectF.left + rectF.width);
			  if (!isInDialogF) {
				document.getElementById("fichaModalF").close();
			  }
		});
		document.getElementById("fichaModalG").addEventListener('click', (event)=> {
			  let rectG = document.getElementById("fichaModalG").getBoundingClientRect();
			  let isInDialogG = (rectG.top <= event.clientY && event.clientY <= rectG.top + rectG.height &&
			rectG.left <= event.clientX && event.clientX <= rectG.left + rectG.width);
			  if (!isInDialogG) {
				document.getElementById("fichaModalG").close();
			  }	
		});
		document.getElementById("fichaModalH").addEventListener('click', (event)=> {
			  let rectH = document.getElementById("fichaModalH").getBoundingClientRect();
			  let isInDialogH = (rectH.top <= event.clientY && event.clientY <= rectH.top + rectH.height &&
			rectH.left <= event.clientX && event.clientX <= rectH.left + rectH.width);
			  if (!isInDialogH) {
				document.getElementById("fichaModalH").close();
			  }
		});
		document.getElementById("fichaModalI").addEventListener('click', (event)=> {
			  let rectI = document.getElementById("fichaModalI").getBoundingClientRect();
			  let isInDialogI = (rectI.top <= event.clientY && event.clientY <= rectI.top + rectI.height &&
			rectI.left <= event.clientX && event.clientX <= rectI.left + rectI.width);
			  if (!isInDialogI) {
				document.getElementById("fichaModalI").close();
			  }
		});
		document.getElementById("fichaModalJ").addEventListener('click', (event)=> {
			  let rectJ = document.getElementById("fichaModalJ").getBoundingClientRect();
			  let isInDialogJ = (rectJ.top <= event.clientY && event.clientY <= rectJ.top + rectJ.height &&
			rectJ.left <= event.clientX && event.clientX <= rectJ.left + rectJ.width);
			  if (!isInDialogJ) {
				document.getElementById("fichaModalJ").close();
			  }
		});
		document.getElementById("fichaModalK").addEventListener('click', (event)=> {
			  let rectK = document.getElementById("fichaModalK").getBoundingClientRect();
			  let isInDialogK = (rectK.top <= event.clientY && event.clientY <= rectK.top + rectK.height &&
			rectK.left <= event.clientX && event.clientX <= rectK.left + rectK.width);
			  if (!isInDialogK) {
				document.getElementById("fichaModalK").close();
			  }
		});
		
	</script>