---
import Layout from "../layouts/Layout.astro";

---


<Layout title="Renders de la vivienda">
    <main>
        <section class="gallery">
            <img src="/render1.webp" alt="Render 1" /> <img src="/render2.webp" alt="Render 2" />
            <img src="/render3.webp" alt="Render 3" /> <img src="/render4.webp" alt="Render 4" />
            <img src="/render5.webp" alt="Render 5" /> <img src="/render6.webp" alt="Render 6" />
            <img src="/render7.webp" alt="Render 7" /> <img src="/render8.webp" alt="Render 8" />
            <img src="/render9.webp" alt="Render 9" /> <img src="/render10.webp" alt="Render 10" />
            <img src="/render11.webp" alt="Render 11" /> <img src="/render12.webp" alt="Render 12" />
            <img src="/render13.webp" alt="Render 13" />
        </section>
		<section class="mobile-gallery">
			<img src="/render1.webp" alt="Render 1" /> <img src="/render2.webp" alt="Render 2" />
            <img src="/render3.webp" alt="Render 3" /> <img src="/render4.webp" alt="Render 4" />
            <img src="/render5.webp" alt="Render 5" /> <img src="/render6.webp" alt="Render 6" />
            <img src="/render7.webp" alt="Render 7" /> <img src="/render8.webp" alt="Render 8" />
            <img src="/render9.webp" alt="Render 9" /> <img src="/render10.webp" alt="Render 10" />
            <img src="/render11.webp" alt="Render 11" /> <img src="/render12.webp" alt="Render 12" />
            <img src="/render13.webp" alt="Render 13" />
		</section>
    </main>
</Layout>



<style>
body {
    overflow: hidden;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin: 0;
    padding: 0;
}

.gallery {
    height: fit-content;
    margin: 24px;
    border-radius: 12px;
    background-position: 50% 70%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-width: 1080px;
}

main {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mobile-gallery {
    display: none;
}

img {
    width: 100%;
    border-radius: 12px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.arrow {
    font-size: 3rem;
    text-decoration: none;
    color: #262633;
    position: absolute;
    background-color: hsl(240, 15%, 87%);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-weight: 200;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.right {
    right: 8px;
}

.left {
    left: 8px;
}

@media (orientation: portrait) {
    .gallery {
        display: none;
    }

    .mobile-gallery {
        padding-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        overflow: scroll;
        height: calc(100dvh - 80px);
        padding-bottom: 80px; /* Añadir margen inferior para la última imagen */
    }
}
</style>
