---
import Layout from "../layouts/Layout.astro";
---


<Layout title="App Kotek Virtual">
    <main>
        <section class="section-pc">
			<div class='imageWrapperHero'>
				<!-- fill with SVG areas -->
				<svg viewBox="0 0 192 144" class='image-area image-area--orange-1'>

					<g class="toprow" id="ventanaA"><path d="M 23.3 62.1 L 95 62.1 L 95 70.5 L 23.3 70.5 Z" /></g>
					
					<g class="secondrow" id="ventanaB" ><path d="M 95.5 62.1 L 170.3 62.1 L 170.3 70.5 L 95.5 70.5 Z " /></g>
					<g class="toprow" id="ventanaC" ><path d="M 23.2 74.6 L 95 74.6 L 95 83.3 L 23.2 83.3 Z" /></g>
					<g class="toprow" id="ventanaD" ><path d="M 95.5 74.6 L 95.5 83.3 L 170.3 83.3 L 170.3 74.6 Z" /></g>
					<g class="secondrow" id="ventanaE" ><path d="M 23.2 87 L 23.2 96.3 L 95 96.3 L 95 87 Z " /></g>
					<g class="toprow" id="ventanaF" ><path d="M 95.5 87 L 95.5 96.3 L 170.3 96.3 L 170.3 87 Z" /></g>
					<g class="toprow" id="ventanaG" ><path d="M 23.2 98.5 L 23.2 109 L 95 109 L 95 98.5 Z " /></g>
					<g class="secondrow" id="ventanaH" ><path d="M 95.5 98.5 L 95.5 109 L 170.3 109 L 170.3 98.5 Z" /></g>
					<g class="toprow" id="ventanaI" ><path d="M 23.2 111.2 L 23.2 122 L 95 122 L 95 111.2 Z " /></g>
					<g class="toprow" id="ventanaJ" ><path d="M 95.5 111.2 L 95.5 122 L 170.3 122 L 170.3 111.2 Z" /></g>



			</svg>
				<!-- -->
				
				<img class="hero" src="exterior1.webp"/>
			  </div>

			  <div>
				<dialog id="fichaVentanaA">
					<button class="closeButton"> &#9587;</button>
					<img src="/viviendaA.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog id="fichaVentanaB">
					<button class="closeButton"> &#9587;</button>
					<img src="/viviendaB.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog id="fichaVentanaC">
					<button class="closeButton"> &#9587;</button>
					<img src="/viviendaC.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog id="fichaVentanaD">
					<button class="closeButton"> &#9587;</button>
					<img src="/viviendaD.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog id="fichaVentanaE">
					<button class="closeButton"> &#9587;</button>
					<img src="/viviendaE.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog id="fichaVentanaF">
					<button class="closeButton"> &#9587;</button>
					<img src="/viviendaF.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				
			  </div>
			
        </section>
		<section class="section-mobile">
			<div class='imageWrapperHero'>
				<img src="/exterior1.webp"/>
			  </div>


			  <div>
				<dialog class="fichaMovil" id="fichaventanaMovilA">
					<button class="closeButton"> &#9587;</button>
					<img src="/viviendaA.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog class="fichaMovil" id="fichaventanaMovilB">
					<button class="closeButton"> &#9587;</button>
					<img src="/viviendaB.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog class="fichaMovil" id="fichaventanaMovilC">
					<button class="closeButton"> &#9587;</button>
					<img src="/viviendaC.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog class="fichaMovil" id="fichaventanaMovilD">
					<button class="closeButton"> &#9587;</button>
					<img src="/viviendaD.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog class="fichaMovil" id="fichaventanaMovilE">
					<button class="closeButton"> &#9587;</button>
					<img src="/viviendaE.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				<dialog class="fichaMovil" id="fichaventanaMovilF">
					<button class="closeButton"> &#9587;</button>
					<img src="/viviendaF.webp" alt="ficha comercial" class="modalImage">
				</dialog>
				
			  </div>
			  <div class="mobile-text">
				<ul class="mobile-ul">
					<li class="titulo-movil">Residencial Mirarríos</li>
					<li class="">Disfruta de tu nuevo hogar en este residencial de 10 viviendas con acabados de lujo en pleno centro de la ciudad.</li>
					<li id="click-aqui">Haz click aquí para descubrir más</li>
				</ul>
			</div>
			
        </section>
    </main>
</Layout>

	<script type="module">
		document.querySelector("#ventanaA").addEventListener("click",()=>{
		document.getElementById("fichaVentanaA").showModal()
	})
	document.querySelector("#ventanaB").addEventListener("click",()=>{
		document.getElementById("fichaVentanaB").showModal()
	})
	document.querySelector("#ventanaC").addEventListener("click",()=>{
		document.getElementById("fichaVentanaC").showModal()
	})
	document.querySelector("#ventanaD").addEventListener("click",()=>{
		document.getElementById("fichaVentanaD").showModal()
	})
	document.querySelector("#ventanaE").addEventListener("click",()=>{
		document.getElementById("fichaVentanaE").showModal()
	})
	document.querySelector("#ventanaF").addEventListener("click",()=>{
		document.getElementById("fichaVentanaF").showModal()
	})
	document.querySelector("#ventanaG").addEventListener("click",()=>{
		document.getElementById("fichaVentanaC").showModal()
	})
	document.querySelector("#ventanaH").addEventListener("click",()=>{
		document.getElementById("fichaVentanaD").showModal()
	})
	document.querySelector("#ventanaI").addEventListener("click",()=>{
		document.getElementById("fichaVentanaE").showModal()
	})
	document.querySelector("#ventanaJ").addEventListener("click",()=>{
		document.getElementById("fichaVentanaF").showModal()
	})



	
		document.getElementById("fichaVentanaA").addEventListener('click', (event)=> {
			  let rect = document.getElementById("fichaVentanaA").getBoundingClientRect();
			  let isInDialogA = (rect.top <= event.clientY && event.clientY <= rect.top + rect.height &&
			rect.left <= event.clientX && event.clientX <= rect.left + rect.width);
			  if (!isInDialogA) {
				document.getElementById("fichaVentanaA").close();
			  }
		});
		document.getElementById("fichaVentanaB").addEventListener('click', (event)=> {
			  let rectB = document.getElementById("fichaVentanaB").getBoundingClientRect();
			  let isInDialogB = (rectB.top <= event.clientY && event.clientY <= rectB.top + rectB.height &&
			rectB.left <= event.clientX && event.clientX <= rectB.left + rectB.width);
			  if (!isInDialogB) {
				document.getElementById("fichaVentanaB").close();
			  }
		});
		document.getElementById("fichaVentanaC").addEventListener('click', (event)=> {
			  let rectC = document.getElementById("fichaVentanaC").getBoundingClientRect();
			  let isInDialogC = (rectC.top <= event.clientY && event.clientY <= rectC.top + rectC.height &&
			rectC.left <= event.clientX && event.clientX <= rectC.left + rectC.width);
			  if (!isInDialogC) {
				document.getElementById("fichaVentanaC").close();
			  }
		});
		document.getElementById("fichaVentanaD").addEventListener('click', (event)=> {
			  let rectD = document.getElementById("fichaVentanaD").getBoundingClientRect();
			  let isInDialogD = (rectD.top <= event.clientY && event.clientY <= rectD.top + rectD.height &&
			rectD.left <= event.clientX && event.clientX <= rectD.left + rectD.width);
			  if (!isInDialogD) {
				document.getElementById("fichaVentanaD").close();
			  }
		});
		document.getElementById("fichaVentanaE").addEventListener('click', (event)=> {
			  let rectE = document.getElementById("fichaVentanaE").getBoundingClientRect();
			  let isInDialogE = (rectE.top <= event.clientY && event.clientY <= rectE.top + rectE.height &&
			rectE.left <= event.clientX && event.clientX <= rectE.left + rectE.width);
			  if (!isInDialogE) {
				document.getElementById("fichaVentanaE").close();
			  }
		});
		document.getElementById("fichaVentanaF").addEventListener('click', (event)=> {
			  let rectF = document.getElementById("fichaVentanaF").getBoundingClientRect();
			  let isInDialogF = (rectF.top <= event.clientY && event.clientY <= rectF.top + rectF.height &&
			rectF.left <= event.clientX && event.clientX <= rectF.left + rectF.width);
			  if (!isInDialogF) {
				document.getElementById("fichaVentanaF").close();
			  }
		});

		/*parte movil*/
	document.querySelectorAll(".ventanaMovilA").forEach(v=>{
		v.addEventListener("click",()=>{
		document.getElementById("fichaventanaMovilA").showModal()
		})
	})
	document.querySelectorAll(".ventanaMovilB").forEach(v=>{
		v.addEventListener("click",()=>{
		document.getElementById("fichaventanaMovilB").showModal()
		})
	})
	document.querySelectorAll(".ventanaMovilC").forEach(v=>{
		v.addEventListener("click",()=>{
		document.getElementById("fichaventanaMovilC").showModal()
		})
	})
	document.querySelectorAll(".ventanaMovilD").forEach(v=>{
		v.addEventListener("click",()=>{
		document.getElementById("fichaventanaMovilD").showModal()
		})
	})
	document.querySelectorAll(".ventanaMovilE").forEach(v=>{
		v.addEventListener("click",()=>{
		document.getElementById("fichaventanaMovilE").showModal()
		})
	})
	document.querySelectorAll(".ventanaMovilF").forEach(v=>{
		v.addEventListener("click",()=>{
		document.getElementById("fichaventanaMovilF").showModal()
		})
	})
	

	
		document.getElementById("fichaventanaMovilA").addEventListener('click', (event)=> {
			  let rect = document.getElementById("fichaventanaMovilA").getBoundingClientRect();
			  let isInDialogA = (rect.top <= event.clientY && event.clientY <= rect.top + rect.height &&
			rect.left <= event.clientX && event.clientX <= rect.left + rect.width);
			  if (!isInDialogA) {
				document.getElementById("fichaventanaMovilA").close();
			  }
		});
		document.getElementById("fichaventanaMovilB").addEventListener('click', (event)=> {
			  let rectB = document.getElementById("fichaventanaMovilB").getBoundingClientRect();
			  let isInDialogB = (rectB.top <= event.clientY && event.clientY <= rectB.top + rectB.height &&
			rectB.left <= event.clientX && event.clientX <= rectB.left + rectB.width);
			  if (!isInDialogB) {
				document.getElementById("fichaventanaMovilB").close();
			  }
		});
		document.getElementById("fichaventanaMovilC").addEventListener('click', (event)=> {
			  let rectC = document.getElementById("fichaventanaMovilC").getBoundingClientRect();
			  let isInDialogC = (rectC.top <= event.clientY && event.clientY <= rectC.top + rectC.height &&
			rectC.left <= event.clientX && event.clientX <= rectC.left + rectC.width);
			  if (!isInDialogC) {
				document.getElementById("fichaventanaMovilC").close();
			  }
		});
		document.getElementById("fichaventanaMovilD").addEventListener('click', (event)=> {
			  let rectD = document.getElementById("fichaventanaMovilD").getBoundingClientRect();
			  let isInDialogD = (rectD.top <= event.clientY && event.clientY <= rectD.top + rectD.height &&
			rectD.left <= event.clientX && event.clientX <= rectD.left + rectD.width);
			  if (!isInDialogD) {
				document.getElementById("fichaventanaMovilD").close();
			  }
		});
		document.getElementById("fichaventanaMovilE").addEventListener('click', (event)=> {
			  let rectE = document.getElementById("fichaventanaMovilE").getBoundingClientRect();
			  let isInDialogE = (rectE.top <= event.clientY && event.clientY <= rectE.top + rectE.height &&
			rectE.left <= event.clientX && event.clientX <= rectE.left + rectE.width);
			  if (!isInDialogE) {
				document.getElementById("fichaventanaMovilE").close();
			  }
		});
		document.getElementById("fichaventanaMovilF").addEventListener('click', (event)=> {
			  let rectF = document.getElementById("fichaventanaMovilF").getBoundingClientRect();
			  let isInDialogF = (rectF.top <= event.clientY && event.clientY <= rectF.top + rectF.height &&
			rectF.left <= event.clientX && event.clientX <= rectF.left + rectF.width);
			  if (!isInDialogF) {
				document.getElementById("fichaventanaMovilF").close();
			  }
		});

		const hamburgerMenu2 = document.querySelector(".hamburger-dialog")
		const hamburgerIcon2 = document.querySelector(".hamburger-icon")
		const clickAqui = document.querySelector("#click-aqui")

clickAqui.addEventListener("click",()=>{
	if (hamburgerMenu2.classList.contains("hamburger-open")){
		hamburgerMenu2.classList.remove("hamburger-open")
		hamburgerIcon2.classList.remove("hamburger-icon-rotated")

	}
	else{
		hamburgerMenu2.classList.add("hamburger-open")
		hamburgerIcon2.classList.add("hamburger-icon-rotated")
	}
})
		</script>



<style>
	body{
		overflow: hidden;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	section{
		background-color: hsl(240, 15%, 17%);
		height: calc(100vh - 48px);
		margin: 24px;
		border-radius: 12px;
		overflow: visible;
		display: flex;
		align-items: center;
		justify-content: center;

	}
.imageWrapperHero {

position: relative;
max-height: calc(100vh - 48px);
aspect-ratio: 4 / 3;



}

.imageWrapperHero img {
  width:100%; 
height:100%;
border-radius: 12px;

}


.image-area{
  	position: absolute;
	left: 0;
	top: 0;
}

.toprow{
	fill: #75A93A;
    fill-opacity: 0.3;
    cursor: pointer;
	stroke: white;
	stroke-width: .2;

}
.secondrow{
	fill: #a93a3a;
    fill-opacity: 0.4;
    cursor: pointer;
	stroke: white;
	stroke-width: .2;
}
.toprow :hover{
	fill-opacity: 0.8;


}
.secondrow :hover{
	fill-opacity: 0.8;
}
.modal-ficha{

}
dialog{
	height: calc(100vh - 16px);
	border: none;
}
dialog::backdrop{
	background-color: #26263399;
}
.modalImage{
	height: 99%;
	margin: 0px;
	border: none;
}
.outline{
	fill: none;
	stroke: white;
	stroke-width: .2;
}
.section-mobile{
	display: none;
}
.fichaMovil{
	height: fit-content;
	width: fit-content;

	& img {
		width: 90vw;
		aspect-ratio: 2481 / 3509;
		height: auto;

	}
}
.mobile-ul{
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.closeButton{
	position: fixed;
	top: 8px;
	right: 8px;
	height: 48px;
	width: 48px;
	outline: none;
	background-color: hsl(240, 15%, 27%);
	color: hsl(240, 15%, 97%);
	cursor: pointer;
	font-size: 16pt;
	border: 2px  hsl(240, 15%, 27%) solid;
	border-radius: 250px;
	text-align: center;
	padding: 0;
}
.detalle-par{
	background-color: hsl(240, 15%, 37%);
	padding-block: 8px;
}
main{
	overflow: scroll;
}
/* CSS Móvil*/

@media (orientation: portrait) {

  .section-pc{
	display: none;
  }
  .section-mobile{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
 }
main{
	height: calc(100dvh - 80px);
}

  }

.mobile-text{
	display: flex;
	color: white;
	width: 100vw;
	padding: 0;
	& ul{
		width: 100%;
		padding-inline: 0;
		gap: 0;
		text-align: center;
	}
	& li{
		display: flex;
		justify-content: center;
		padding-inline: 16px;
		padding-block: 8px;
		& span{
			cursor: pointer;
		}
	}
	#click-aqui{
		background-color: hsl(230, 100%, 69%);
		border-radius: 12px;
		margin: 30px;

	}
	.titulo-movil{
		font-size: 1.5rem;
		font-weight: 700;
		color: hsl(230, 100%, 99%);
	}
}
.svg-number{
	fill: #a93a75 black;
	stroke: white;
	stroke-width: 0.4px;
	font: bold 0.8rem "Poppins",sans-serif;
}

</style>
