<iframe id="test" src="https://kotekvirtual.es/salon-comedor/" height="100%" width="100%" frameborder="0"></iframe>
<button id="boton">click</button>

<style>
	iframe{
		padding: 0;
		margin: 0;
		height: 100dvh;
		width: 100dvw;
	}
	#boton{
		position: absolute;
		top: 0;
		left: 0;
	}
</style>

<script type="module">
document.querySelector("#boton").addEventListener('click',()=>{
	document.querySelector("#test").requestFullscreen()
})
</script>