---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Ubicación">
    <main>
        <section>
			<img src="/ubicacion.webp" alt="mapa de la ubicación de la vivienda">

			

        </section>
    </main>
</Layout>



<style>
	main {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	section{
		height: calc(100vh - 48px);
		margin: 24px;
		border-radius: 12px;
		background-position: 50% 70%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		overflow: hidden;
	}
	img{
		height: auto;
		border-radius: 12px;
		width: 100%;
	}


</style>
