---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Visita Virtual">
    <main>
        <section>
            <iframe allow="xr-spatial-tracking"  src="https://3d.kotekvirtual.es/san-pablo-tipo9/" height="100%" width="100%" frameborder="0"></iframe>
        </section>
    </main>
</Layout>



<style>
	main {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	section{
		background-color: #F2F2F2;
		height: calc(100vh - 48px);
		margin: 24px;
		border-radius: 12px;
		background-position: 50% 70%;
	}
	iframe{
		border-radius: 12px;
	}
	@media (max-width: 968px) {
		section{
			height: 80vh;
		}
	}
</style>
