---
import ViewTransitions from 'astro/components/ViewTransitions.astro';
interface Props {
	title: string;
}
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
        <meta name="format-detection" content="telephone=no">
		<meta charset="UTF-8" />
		<meta name="description" content="Tu app para tener toda la información comercial inmobiliaria en un solo lugar." />

		<meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="Riosar" />
        <link rel="manifest" href="/site.webmanifest" />

		<meta name="theme-color" content="#ffffff">
		<meta name="generator" content={Astro.generator} />

        <link rel="prefetch" href="https://kotekvirtual.es/demo/salon" as="document">
        <link rel="prefetch" href="https://kotekvirtual.es/demo/despacho" as="document">
        <link rel="prefetch" href="https://kotekvirtual.es/demo/cocina" as="document">
        <link rel="prefetch" href="https://kotekvirtual.es/demo/dorm-ppal" as="document">
        <link rel="prefetch" href="https://kotekvirtual.es/demo/aseo-ppal" as="document">
        <link rel="prefetch" href="https://kotekvirtual.es/demo/aseo2" as="document">
        <link rel="prefetch" href="https://kotekvirtual.es/demo/dorm2" as="document">
        <link rel="prefetch" href="https://kotekvirtual.es/demo/dorm3" as="document">
        <link rel="prefetch" href="https://kotekvirtual.es/demo/aseo1" as="document">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<title>{title}</title>
		<!-- <ViewTransitions /> -->
	</head>
	<body>
		<nav transition:animate="none" class="fixed-navbar">
			<a href="/" class="logo poppins-bold">edificio riosar<span class="dot">.</span></a>
            <a href="/" class="filter-text">
                <li><span class="filter-negrita">Ciudad: </span>A Coruña</li>
                <li><span class="filter-negrita">Zona: </span>Oleiros</li>
                <li><span class="filter-negrita">Tipología: </span>De 2 a 4 dormitorios</li>
                <li><span class="filter-negrita">Precio: </span>Desde 264.003€</li>
            </a>
			<ul class="icon-list">
				<li class="navlist">
					
					<a href="/" class={ currentPath === "" || currentPath === "exterior/" ? "active navlink" : "navlink"}>
						<svg width="16px" height="16px" viewBox="0 0 24 24" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
							<path d="M11,15h-2v-2h2v2Zm4-2h-2v2h2v-2Zm-4,4h-2v2h2v-2Zm4,0h-2v2h2v-2ZM11,5h-2v2h2v-2Zm4,0h-2v2h2v-2Zm-4,4h-2v2h2v-2Zm4,0h-2v2h2v-2Zm9-1c0-1.654-1.346-3-3-3h-2V3c0-1.654-1.346-3-3-3H8c-1.654,0-3,1.346-3,3v6H3c-1.654,0-3,1.346-3,3v12H24V8ZM2,12c0-.552,.449-1,1-1H7V3c0-.552,.449-1,1-1h8c.551,0,1,.448,1,1V7h4c.551,0,1,.448,1,1v14H2V12Zm18,1h-2v2h2v-2Zm0,4h-2v2h2v-2ZM6,13h-2v2h2v-2Zm0,4h-2v2h2v-2Zm14-8h-2v2h2v-2Z"/>
						</svg>
						Selector&nbsp;<span class="long-nav">de viviendas</span></a>
				</li>
				<li class="navlist">
					
					<a href="/plano3d/"  class={ currentPath.includes("plano3d/") ? "active navlink" : "navlink"}>
						<svg width="16px" height="16px" viewBox="0 0 24 24" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
							<path d="m7,4V0h-3.5C1.57,0,0,1.57,0,3.5v17c0,1.93,1.57,3.5,3.5,3.5h20.5V4H7Zm-5-.5c0-.827.673-1.5,1.5-1.5h1.5v15h-1.5c-.536,0-1.045.122-1.5.338V3.5Zm20,18.5H3.5c-.827,0-1.5-.673-1.5-1.5s.673-1.5,1.5-1.5h3.5V6h15v16Zm-2-3h-11v-11h2v9h3v-4h2v4h2v-7h-4v-2h6v11Z"/>
						</svg>
						Plano 3D</a>
				</li>
				<li class="navlist">
					
					<a href="/visitavirtual-c/"  class={ currentPath === "visitavirtual-c/" ? "active navlink" : "navlink"}>
						<svg width="16px" height="16px" viewBox="0 0 24 24" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
							<path d="m12,0C5.047,0,0,2.523,0,6v12c0,2.001,1.689,3.813,4.634,4.972l1.366.537v-14.149l-.634-.249c-2.108-.829-3.366-1.992-3.366-3.11,0-1.932,4.018-4,10-4s10,2.068,10,4c0,1.118-1.258,2.281-3.366,3.11l-.634.249v14.149l1.366-.537c2.945-1.158,4.634-2.971,4.634-4.972V6c0-3.477-5.047-6-12-6ZM4,10.703v9.758c-1.273-.735-2-1.611-2-2.461v-8.482c.56.438,1.229.836,2,1.186Zm18,7.297c0,.85-.727,1.726-2,2.461v-9.758c.771-.35,1.44-.748,2-1.186v8.482Zm-10-8c-1.381,0-2.5-1.119-2.5-2.5s1.119-2.5,2.5-2.5,2.5,1.119,2.5,2.5-1.119,2.5-2.5,2.5Zm1,1h-2c-1.654,0-3,1.346-3,3v6h1v4h2v-4h2v4h2v-4h1v-6c0-1.654-1.346-3-3-3Zm-3,3c0-.552.449-1,1-1h2c.551,0,1,.448,1,1v4h-4v-4Z"/>
						</svg>
						Visita Virtual C</a>
				</li>
				<li class="navlist">
					
					<a href="/visitavirtual-f/"  class={ currentPath === "visitavirtual-f/" ? "active navlink" : "navlink"}>
						<svg width="16px" height="16px" viewBox="0 0 24 24" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
							<path d="m12,0C5.047,0,0,2.523,0,6v12c0,2.001,1.689,3.813,4.634,4.972l1.366.537v-14.149l-.634-.249c-2.108-.829-3.366-1.992-3.366-3.11,0-1.932,4.018-4,10-4s10,2.068,10,4c0,1.118-1.258,2.281-3.366,3.11l-.634.249v14.149l1.366-.537c2.945-1.158,4.634-2.971,4.634-4.972V6c0-3.477-5.047-6-12-6ZM4,10.703v9.758c-1.273-.735-2-1.611-2-2.461v-8.482c.56.438,1.229.836,2,1.186Zm18,7.297c0,.85-.727,1.726-2,2.461v-9.758c.771-.35,1.44-.748,2-1.186v8.482Zm-10-8c-1.381,0-2.5-1.119-2.5-2.5s1.119-2.5,2.5-2.5,2.5,1.119,2.5,2.5-1.119,2.5-2.5,2.5Zm1,1h-2c-1.654,0-3,1.346-3,3v6h1v4h2v-4h2v4h2v-4h1v-6c0-1.654-1.346-3-3-3Zm-3,3c0-.552.449-1,1-1h2c.551,0,1,.448,1,1v4h-4v-4Z"/>
						</svg>
						Visita Virtual F</a>
				</li>
				<li class="navlist">
					
					<a href="/galeria/"  class={ currentPath ==="galeria/" ? "active navlink" : "navlink"}>
						<svg width="16px" height="16px" viewBox="0 0 24 24" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
							<g id="_01_align_center" data-name="01 align center"><path d="M21,0H3A3,3,0,0,0,0,3V24H24V3A3,3,0,0,0,21,0ZM3,2H21a1,1,0,0,1,1,1V20.586L11.121,9.707a3,3,0,0,0-4.242,0L2,14.586V3A1,1,0,0,1,3,2ZM2,17.414l6.293-6.293a1,1,0,0,1,1.414,0L20.586,22H2Z"/><path d="M16,10a3,3,0,1,0-3-3A3,3,0,0,0,16,10Zm0-4a1,1,0,1,1-1,1A1,1,0,0,1,16,6Z"/></g>
						</svg>
						<span class="long-nav">Galería de</span>&nbsp;Imágenes</a>
				</li>
				<li class="navlist">
					
					<a href="/fichas/"  class={ currentPath === "fichas/" ? "active navlink" : "navlink"}>
						<svg width="16px" height="16px" viewBox="0 0 24 24" fill="#fff" xmlns="http://www.w3.org/2000/svg">
							<path d="m14,5.478l6-1.15v2.037l-6,1.15v-2.037Zm0,10.085l6-1.15v-2.037l-6,1.15v2.037Zm0-4l6-1.15v-2.037l-6,1.15v2.037ZM24,2.909v19.017l-12.675,2.104-5.298-2.878-4.705,2.848H.043l-.043-1V4.365c0-1.149.641-2.18,1.671-2.689L4.229.413C5.337-.134,6.663-.134,7.771.413l3.047,1.505L20.57.047c.85-.151,1.721.075,2.385.63.664.554,1.045,1.368,1.045,2.232Zm-17-.647v17.143l3,1.629V3.744l-3-1.482ZM2,21.252l3-1.816V2.262l-2.443,1.206c-.338.167-.557.52-.557.896v16.887ZM22,2.909c0-.369-.204-.596-.326-.697s-.383-.264-.742-.197l-8.932,1.712v18.164l10-1.66V2.909Zm-8,16.654l4-.767v-2.037l-4,.767v2.037Z"/>
						</svg>
						Fichas<span class="long-nav">&nbsp;Comerciales</span></a>
				</li>
				<li class="navlist">
					
					<a href="/ubicacion/"  class={ currentPath === "ubicacion/" ? "active navlink" : "navlink"}>
						<svg width="16px" height="16px" viewBox="0 0 24 24" fill="#fff" xmlns="http://www.w3.org/2000/svg">
							<path d="m16.242,1.757c-1.134-1.133-2.641-1.757-4.242-1.757s-3.11.624-4.242,1.757c-1.134,1.133-1.758,2.64-1.758,4.243s.624,3.11,1.77,4.254l4.23,4.138,4.242-4.149c1.134-1.133,1.758-2.64,1.758-4.243s-.624-3.11-1.758-4.243Zm-4.242,6.243c-1.105,0-2-.895-2-2s.895-2,2-2,2,.895,2,2-.895,2-2,2Zm12,7.701v1.099l-12,7.2L0,16.8v-1.099l6.494-3.897,2.217,2.169-3.796,2.277,7.084,4.25,7.084-4.25-3.796-2.277,2.217-2.168,6.494,3.896Z"/>
							</svg>
						Ubicación</a>
				</li>
				<li class="navlist">
					
					<a href="/documentacion/"  class={ currentPath === "documentacion/" ? "active navlink" : "navlink"}>
						<svg width="16px" height="16px" viewBox="0 0 24 24" fill="#fff" xmlns="http://www.w3.org/2000/svg">
							<path d="M14.414,0H5c-1.654,0-3,1.346-3,3V24H22V7.586L14.414,0Zm.586,3.414l3.586,3.586h-3.586V3.414Zm5,18.586H4V3c0-.551,.449-1,1-1H13v7h7v13Zm-14-2h12v-7H6v7Zm2-5h8v3H8v-3Zm3-4H6v-2h5v2Zm0-4H6v-2h5v2Z"/>
						</svg>
						Documentación</a>
				</li>
			</ul>
			<svg viewBox="0 0 50 50" class="hamburger-icon">
				<path d="M 5 8 A 2.0002 2.0002 0 1 0 5 12 L 45 12 A 2.0002 2.0002 0 1 0 45 8 L 5 8 z M 5 23 A 2.0002 2.0002 0 1 0 5 27 L 45 27 A 2.0002 2.0002 0 1 0 45 23 L 5 23 z M 5 38 A 2.0002 2.0002 0 1 0 5 42 L 45 42 A 2.0002 2.0002 0 1 0 45 38 L 5 38 z"></path>
			</svg>
			
			
		</nav>
		<div class="hamburger-dialog" id="hamburger-dialog">
			<ul class="hamburger-icons">
				<li class="hamburger-list">
					
					<a href="/exterior/" class="hamburger-link">
						<svg width="16px" height="16px" viewBox="0 0 24 24" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
							<path d="M11,15h-2v-2h2v2Zm4-2h-2v2h2v-2Zm-4,4h-2v2h2v-2Zm4,0h-2v2h2v-2ZM11,5h-2v2h2v-2Zm4,0h-2v2h2v-2Zm-4,4h-2v2h2v-2Zm4,0h-2v2h2v-2Zm9-1c0-1.654-1.346-3-3-3h-2V3c0-1.654-1.346-3-3-3H8c-1.654,0-3,1.346-3,3v6H3c-1.654,0-3,1.346-3,3v12H24V8ZM2,12c0-.552,.449-1,1-1H7V3c0-.552,.449-1,1-1h8c.551,0,1,.448,1,1V7h4c.551,0,1,.448,1,1v14H2V12Zm18,1h-2v2h2v-2Zm0,4h-2v2h2v-2ZM6,13h-2v2h2v-2Zm0,4h-2v2h2v-2Zm14-8h-2v2h2v-2Z"/>
						</svg>
						Selector de viviendas</a>
				</li>
				<li class="hamburger-list">
					
					<a href="/plano3d/"  class="hamburger-link">
						<svg width="16px" height="16px" viewBox="0 0 24 24" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
							<path d="m7,4V0h-3.5C1.57,0,0,1.57,0,3.5v17c0,1.93,1.57,3.5,3.5,3.5h20.5V4H7Zm-5-.5c0-.827.673-1.5,1.5-1.5h1.5v15h-1.5c-.536,0-1.045.122-1.5.338V3.5Zm20,18.5H3.5c-.827,0-1.5-.673-1.5-1.5s.673-1.5,1.5-1.5h3.5V6h15v16Zm-2-3h-11v-11h2v9h3v-4h2v4h2v-7h-4v-2h6v11Z"/>
						</svg>
						Plano 3D</a>
				</li>
				<li class="hamburger-list">
					
					<a href="/visitavirtual-c/"  class="hamburger-link">
						<svg width="16px" height="16px" viewBox="0 0 24 24" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
							<path d="m12,0C5.047,0,0,2.523,0,6v12c0,2.001,1.689,3.813,4.634,4.972l1.366.537v-14.149l-.634-.249c-2.108-.829-3.366-1.992-3.366-3.11,0-1.932,4.018-4,10-4s10,2.068,10,4c0,1.118-1.258,2.281-3.366,3.11l-.634.249v14.149l1.366-.537c2.945-1.158,4.634-2.971,4.634-4.972V6c0-3.477-5.047-6-12-6ZM4,10.703v9.758c-1.273-.735-2-1.611-2-2.461v-8.482c.56.438,1.229.836,2,1.186Zm18,7.297c0,.85-.727,1.726-2,2.461v-9.758c.771-.35,1.44-.748,2-1.186v8.482Zm-10-8c-1.381,0-2.5-1.119-2.5-2.5s1.119-2.5,2.5-2.5,2.5,1.119,2.5,2.5-1.119,2.5-2.5,2.5Zm1,1h-2c-1.654,0-3,1.346-3,3v6h1v4h2v-4h2v4h2v-4h1v-6c0-1.654-1.346-3-3-3Zm-3,3c0-.552.449-1,1-1h2c.551,0,1,.448,1,1v4h-4v-4Z"/>
						</svg>
						Visita Virtual C</a>
				</li>
				<li class="hamburger-list">
					
					<a href="/visitavirtual-f/"  class="hamburger-link">
						<svg width="16px" height="16px" viewBox="0 0 24 24" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
							<path d="m12,0C5.047,0,0,2.523,0,6v12c0,2.001,1.689,3.813,4.634,4.972l1.366.537v-14.149l-.634-.249c-2.108-.829-3.366-1.992-3.366-3.11,0-1.932,4.018-4,10-4s10,2.068,10,4c0,1.118-1.258,2.281-3.366,3.11l-.634.249v14.149l1.366-.537c2.945-1.158,4.634-2.971,4.634-4.972V6c0-3.477-5.047-6-12-6ZM4,10.703v9.758c-1.273-.735-2-1.611-2-2.461v-8.482c.56.438,1.229.836,2,1.186Zm18,7.297c0,.85-.727,1.726-2,2.461v-9.758c.771-.35,1.44-.748,2-1.186v8.482Zm-10-8c-1.381,0-2.5-1.119-2.5-2.5s1.119-2.5,2.5-2.5,2.5,1.119,2.5,2.5-1.119,2.5-2.5,2.5Zm1,1h-2c-1.654,0-3,1.346-3,3v6h1v4h2v-4h2v4h2v-4h1v-6c0-1.654-1.346-3-3-3Zm-3,3c0-.552.449-1,1-1h2c.551,0,1,.448,1,1v4h-4v-4Z"/>
						</svg>
						Visita Virtual F</a>
				</li>
				<li class="hamburger-list">
					
					<a href="/galeria/"  class="hamburger-link">
						<svg width="16px" height="16px" viewBox="0 0 24 24" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
							<g id="_01_align_center" data-name="01 align center"><path d="M21,0H3A3,3,0,0,0,0,3V24H24V3A3,3,0,0,0,21,0ZM3,2H21a1,1,0,0,1,1,1V20.586L11.121,9.707a3,3,0,0,0-4.242,0L2,14.586V3A1,1,0,0,1,3,2ZM2,17.414l6.293-6.293a1,1,0,0,1,1.414,0L20.586,22H2Z"/><path d="M16,10a3,3,0,1,0-3-3A3,3,0,0,0,16,10Zm0-4a1,1,0,1,1-1,1A1,1,0,0,1,16,6Z"/></g>
						</svg>
						<span class="long-nav">Galería de </span>Imágenes</a>
				</li>
				<li class="hamburger-list">
					
					<a href="/fichas/"  class="hamburger-link">
						<svg width="16px" height="16px" viewBox="0 0 24 24" fill="#fff" xmlns="http://www.w3.org/2000/svg">
							<path d="m14,5.478l6-1.15v2.037l-6,1.15v-2.037Zm0,10.085l6-1.15v-2.037l-6,1.15v2.037Zm0-4l6-1.15v-2.037l-6,1.15v2.037ZM24,2.909v19.017l-12.675,2.104-5.298-2.878-4.705,2.848H.043l-.043-1V4.365c0-1.149.641-2.18,1.671-2.689L4.229.413C5.337-.134,6.663-.134,7.771.413l3.047,1.505L20.57.047c.85-.151,1.721.075,2.385.63.664.554,1.045,1.368,1.045,2.232Zm-17-.647v17.143l3,1.629V3.744l-3-1.482ZM2,21.252l3-1.816V2.262l-2.443,1.206c-.338.167-.557.52-.557.896v16.887ZM22,2.909c0-.369-.204-.596-.326-.697s-.383-.264-.742-.197l-8.932,1.712v18.164l10-1.66V2.909Zm-8,16.654l4-.767v-2.037l-4,.767v2.037Z"/>
						</svg>
						Fichas<span class="long-nav"> Comerciales</span></a>
				</li>
				<li class="hamburger-list">
					
					<a href="/ubicacion/"  class="hamburger-link">
						<svg width="16px" height="16px" viewBox="0 0 24 24" fill="#fff" xmlns="http://www.w3.org/2000/svg">
							<path d="m16.242,1.757c-1.134-1.133-2.641-1.757-4.242-1.757s-3.11.624-4.242,1.757c-1.134,1.133-1.758,2.64-1.758,4.243s.624,3.11,1.77,4.254l4.23,4.138,4.242-4.149c1.134-1.133,1.758-2.64,1.758-4.243s-.624-3.11-1.758-4.243Zm-4.242,6.243c-1.105,0-2-.895-2-2s.895-2,2-2,2,.895,2,2-.895,2-2,2Zm12,7.701v1.099l-12,7.2L0,16.8v-1.099l6.494-3.897,2.217,2.169-3.796,2.277,7.084,4.25,7.084-4.25-3.796-2.277,2.217-2.168,6.494,3.896Z"/>
						</svg>
						Ubicación</a>
				</li>
				<li class="hamburger-list">
					
					<a href="/documentacion/"  class="hamburger-link">
						<svg width="16px" height="16px" viewBox="0 0 24 24" fill="#fff" xmlns="http://www.w3.org/2000/svg">
							<path d="M14.414,0H5c-1.654,0-3,1.346-3,3V24H22V7.586L14.414,0Zm.586,3.414l3.586,3.586h-3.586V3.414Zm5,18.586H4V3c0-.551,.449-1,1-1H13v7h7v13Zm-14-2h12v-7H6v7Zm2-5h8v3H8v-3Zm3-4H6v-2h5v2Zm0-4H6v-2h5v2Z"/>
						</svg>
						Documentación</a>
				</li>
			</ul>

		</div>
		<slot />
		<a href="#" class="contact-icon" id="contact-button">
			<svg width="32px" height="32px" viewBox="0 0 16 16" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 5.3585V14H16V5.35849L8 10.3585L0 5.3585Z" />
<path d="M16 3V2H0V3L8 8L16 3Z" />
			</svg>
		</a>

		<dialog id="contact-modal">
			<form method="dialog">
				<button class="closeButton">&#9587;</button>
				<h3>Pregúntanos más</h3>
				<p>Email: info@edificioriosar.es</p>
				<p class="telefono">Teléfono: +34 679 520 455</p>
			</form>
		</dialog>
	</body>
</html>
<style is:global>
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: hsl(230, 100%, 89%) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: hsl(230, 100%, 89%);
    border-radius: 33px;
    border: 0px inset red;
}

:root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
    overflow: visible;
}

html {
    background-color: hsl(240, 15%, 17%);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: hsl(240, 15%, 17%);
}

code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: hsl(240, 15%, 17%);
}

.fixed-navbar {
    color: white;
    width: 18vw;
    padding-left: 8px;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    align-items: center;
    font-size: 1rem;
    border-right: hsla(228, 100%, 99%, 0.1) solid 0px;
    height: 100dvh;
    align-items: flex-start;
    gap: 8px;
}

.navlink {
    display: flex;
    color: white;
    text-decoration: none;
    padding: 1.4dvh;
    border-radius: 12px;
    align-items: center;
}

.navlink svg {
    padding-right: 8px;
}

.hamburger-link {
    display: flex;
    color: white;
    text-decoration: none;
    padding: 4px;
    border-radius: 12px;
    align-items: center;
}

.hamburger-link svg {
    padding-right: 8px;
}

.icon-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2dvh;
    max-width: 250px;
    width: 18vw;
    min-width: fit-content;
    overflow-y: auto;
}

.icon-list {
    padding-bottom: 1dvh;
}

.logo {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    padding-left: 8px;
}

.logo span {
    color: hsl(230, 100%, 69%);
}

.navlink:hover {
    outline-offset: -1px;
    outline: solid 1px hsl(230, 100%, 69%);
}

.active {
    background-color: hsl(230, 100%, 69%);
    color: hsl(0, 0%, 100%);
}

.active svg {
    fill: hsl(0, 0%, 100%);
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Dot navigation for image gallery */
.dots-footer {
    position: absolute;
    bottom: 8px;
    margin-inline: auto;
    left: 0;
    right: 0;
}

.dotstyle {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
    justify-content: center;
    gap: 16px;
}

.dotstyle li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.dotstyle li a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: red;
    background-color: rgba(214, 16, 16, 0.3);
    text-indent: -999em;
    cursor: pointer; /* make the text accessible to screen readers */
    position: absolute;
}

.dotstyle-fillup li a {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 2px hsl(230, 100%, 69%);
    transition: background 0.3s;
}

.dotstyle-fillup li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    width: 100%;
    background-color: hsl(230, 100%, 89%);
    box-shadow: 0 0 1px hsl(230, 100%, 89%);
    transition: height 0.3s;
}

.dotstyle-fillup li a:hover,
.dotstyle-fillup li a:focus {
    background-color: hsl(230, 100%, 89%);
}

.dotstyle-fillup li.current a::after {
    height: 100%;
}

.hamburger-icon {
    fill: white;
    display: none;
}

.hamburger-icons {
    list-style-type: none;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hamburger-dialog {
    height: 0px;
    top: 80px;
    width: 100vw;
    position: absolute;
    z-index: 99;
    background-color: hsl(240, 15%, 17%);
    display: none;
}

.hamburger-list {
    font-size: 1.5rem;
}
.filter-text {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 0.8rem;
    color: hsl(240, 15%, 97%);
    margin-left: 16px;
    margin-right: 16px;
    list-style: none;
    padding: 0;
}

.filter-text li {
    white-space: nowrap;
}
.filter-negrita {
    font-weight: bold;
}

.contact-icon {
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: hsl(240, 15%, 27%);
    color: hsl(240, 15%, 97%);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    width: 64px;
    height: 64px;
    display: flex; 
    justify-content: center;
    align-items: center;
    
}

.contact-icon:hover {
    background-color: hsl(240, 15%, 37%);
}

#contact-modal {
    border: none;
    border-radius: 8px;
    padding: 16px;
    background-color: hsl(240, 15%, 27%);
    color: hsl(240, 15%, 97%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.closeButton {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    color: hsl(240, 15%, 97%);
    font-size: 1.5rem;
    cursor: pointer;
}
.telefono {
    text-decoration: none;
    color: hsl(240, 15%, 97%);
}
.fixed-navbar::before {
  align-self: stretch;
  content: '';
  border: 1px solid hsl(240, 15%, 37%);
}
.fixed-navbar .logo {
  order: -2;
}
.fixed-navbar .filter-text {
    order: -1;
}

@media (orientation: portrait) {
    .fixed-navbar::before {
         border: none;
}
    body {
        flex-direction: column;
        overflow: hidden;
    }

    .fixed-navbar {
        height: 80px;
        flex-direction: row;
        width: 100vw;
        align-items: center;
        padding: 0;
        border-bottom: solid 1px hsl(240, 15%, 37%);
        justify-content: space-between;
        flex-grow: 0;
        gap: 0px;
    }

    .icon-list {
        display: none;
    }

    .hamburger-icon {
        display: initial;
        padding-right: 16px;
        height: 32px;
        transition: 0.4s;
    }

    .hamburger-icon-rotated {
        transform: rotate(90deg) translateX(7px) translateY(8px);
        transition: 0.4s;
    }

    .logo {
        padding-left: 16px;
    }

    .hamburger-open {
        height: calc(100vh - 80px);
        display: flex;
    }
    .filter-text {
        display: none;
    }
}

@media (max-width: 1200px) {
    .long-nav {
        display: none;
    }
}
</style>
<script type="module">
const hamburgerMenu = document.querySelector(".hamburger-dialog")
const hamburgerIcon = document.querySelector(".hamburger-icon")

hamburgerIcon.addEventListener("click",()=>{
	if (hamburgerMenu.classList.contains("hamburger-open")){
		hamburgerMenu.classList.remove("hamburger-open")
		hamburgerIcon.classList.remove("hamburger-icon-rotated")

	}
	else{
		hamburgerMenu.classList.add("hamburger-open")
		hamburgerIcon.classList.add("hamburger-icon-rotated")
	}
})

const contactButton = document.getElementById('contact-button');
const contactModal = document.getElementById('contact-modal');
const closeButton = contactModal.querySelector('.closeButton');

contactButton.addEventListener('click', () => {
	contactModal.showModal();
});

closeButton.addEventListener('click', () => {
	contactModal.close();
});

contactModal.addEventListener('click', (event) => {
	if (event.target === contactModal) {
		contactModal.close();
	}
});
</script>