---
import Layout from "../../layouts/Layout.astro";
---


<Layout title="Plano 3D">
    <main>
        <div class="tabs">
            <button class="tab-button selected">Planta Baja</button>
            <button class="tab-button" onclick="window.location.href='/plano3d/planta-sotano'">Planta Sótano</button>
        </div>
        <section>
			<div class='imageWrapper3D'>
				<!-- fill with SVG areas -->
				<svg viewBox="0 0 1920 1080" class='image-area image-area--orange-1'>
					
						

					
					
					<g class="secondrow room10" ><path d="M 174.3,837.7 243,521.7 H 392.2 l 50.3,-302 523.5,-1.2 0.6,-145.5 629.7,0.6 79.2,365.8 45.4,0.6 62.6,273.1 -562.2,3.1 8.6,122.7 z" />
					<g class="toprow room1" ><path d="M 963.5,500.5 H 396.1 l 47.4,-280.3 520.4,-0.4 z" />
					</g>
					<g class="toprow room2" ><path d="m 1182.8,356.1 -78.8,0.1 -2,-49.2 H 968.5 L 967.7,75.1 1163.6,74.8 Z" />
					</g>
					<g class="toprow room3" ><path d="m 1404,355 -78.1,0.1 -6.1,-48.2 -135.9,0.5 -16.3,-232.8 197.3,0.2 z" />
					</g>
					<g class="toprow room4" ><path d="m 1627.6,228.7 h -111.4 l -5.7,-35.4 -124.1,1 -16.8,-120 225.2,0.4 z" />
					</g>
					<g class="toprow room5" ><path d="m 1673.1,437.7 -43.7,-205 -112.6,0.3 37.2,206.2 z" />
					</g>
					<g class="toprow room6" ><path d="m 1781.6,710.7 -295.7,0.7 -39.1,-268.5 98.3,0.2 8.6,49.6 178.6,-0.2 z" />
					</g>
					<g class="toprow room7" ><path d="m 1480.7,710.7 -296.4,1.2 -14,-218.7 178.6,0.5 -6.1,-50.8 h 99 z" />
					</g>
					<g class="toprow room8" ><path d="m 837.3,837.8 -144.1,0.5 16.3,-219.8 135.7,-0.5 z" />
					</g>
					<g class="toprow room9" ><path d="M 241.2,520.7 H 714.3 L 690.5,839.6 172.9,838.6 Z" />
					</g>
					</g>
					<text x="670" y="400" class="svg-text">+</text>
					<text x="1050" y="250" class="svg-text">+</text>
					<text x="1250" y="250" class="svg-text">+</text>
					<text x="1470" y="170" class="svg-text">+</text>
					<text x="1560" y="370" class="svg-text">+</text>
					<text x="1560" y="640" class="svg-text">+</text>
					<text x="1300" y="640" class="svg-text">+</text>
					<text x="450" y="710" class="svg-text">+</text>
					<text x="750" y="760" class="svg-text">+</text>
					<text x="670" y="400" class="svg-number">1</text>
					<text x="1050" y="250" class="svg-number">2</text>
					<text x="1250" y="250" class="svg-number">3</text>
					<text x="1470" y="170" class="svg-number">4</text>
					<text x="1560" y="370" class="svg-number">5</text>
					<text x="1560" y="640" class="svg-number">6</text>
					<text x="1300" y="640" class="svg-number">7</text>
					<text x="450" y="710" class="svg-number">8</text>
					<text x="750" y="760" class="svg-number">9</text>
					
					<img src="/raul-orbit.webp"/>
					
			</svg>
				<!-- -->
				
				
			  </div>

			  <aside class="mobile-text">
				<ul class="mobile-text-list">
					<li class="room1">1. Salón Comedor <span >Ver Estancia 360º</span></li>
					<li class="texto-3d-impar room2">2. Despacho <span>Ver Imagen</span></li>
					<li class="room3">3. Dormitorio Principal <span >Ver Estancia 360º</span></li>
					<li class="texto-3d-impar room4">4. Baño Dormitorio <span>Ver Imagen</span></li>
					<li class="room5">5. Aseo 2 <span >Ver Imagen</span></li>
					<li class="texto-3d-impar room6">6. Dormitorio 2 <span>Ver Imagen</span></li>
					<li class="room7">7. Dormitorio 3 <span >Ver Imagen</span></li>
					<li class="texto-3d-impar room8">8. Cocina <span>Ver Imagen</span></li>
					<li class="room9">9. Aseo 2 <span >Ver Imagen</span></li>
				</ul>
			</aside>
			
        </section>
		
		<div>
			<dialog id="modal1" class="modal layama">
				<button class="closeButton"> &#9587;</button>
				<iframe allow="fullscreen" src="https://kotekvirtual.es/salon-comedor/" height="100%" width="100%" frameborder="0"></iframe>
			</dialog>
			<dialog id="modal2" class="modal">
				<button class="closeButton"> &#9587;</button>
				<img src="/despacho.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="modal3" class="modal layama">
				<button class="closeButton"> &#9587;</button>
				<iframe src="https://kotekvirtual.es/dormitorio-principal/" height="100%" width="100%" frameborder="0"></iframe>
			</dialog>
			<dialog id="modal4" class="modal">
				<button class="closeButton"> &#9587;</button>
				<img src="/bano.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="modal5" class="modal">
				<button class="closeButton"> &#9587;</button>
				<img src="/aseo.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="modal6" class="modal">
				<button class="closeButton"> &#9587;</button>
				<img src="/dormitorio-2.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="modal7" class="modal">
				<button class="closeButton"> &#9587;</button>
				<img src="/dormitorio3.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="modal8" class="modal">
				<button class="closeButton"> &#9587;</button>
				<img src="/aseo.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="modal9" class="modal">
				<button class="closeButton"> &#9587;</button>
				<img src="/cocina.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="modal10" class="modal layama">
				<button class="closeButton"> &#9587;</button>
				<iframe src="https://kotekvirtual.es/salon-comedor/" height="100%" width="100%" frameborder="0"></iframe>
			</dialog>
			
		  </div>
		  
    </main>
</Layout>

<script type="module">
	//Make all modal open with their corresponding button

	document.querySelectorAll(".room1").forEach(room=>room.addEventListener("click",()=>{
	document.getElementById("modal1").showModal()
}))
document.querySelectorAll(".room2").forEach(room=>room.addEventListener("click",()=>{
	document.getElementById("modal2").showModal()
}))
document.querySelectorAll(".room3").forEach(room=>room.addEventListener("click",()=>{
	document.getElementById("modal3").showModal()
}))
document.querySelectorAll(".room4").forEach(room=>room.addEventListener("click",()=>{
	document.getElementById("modal4").showModal()
}))
document.querySelectorAll(".room5").forEach(room=>room.addEventListener("click",()=>{
	document.getElementById("modal5").showModal()
}))
document.querySelectorAll(".room6").forEach(room=>room.addEventListener("click",()=>{
	document.getElementById("modal6").showModal()
}))
document.querySelectorAll(".room7").forEach(room=>room.addEventListener("click",()=>{
	document.getElementById("modal7").showModal()
}))
document.querySelectorAll(".room8").forEach(room=>room.addEventListener("click",()=>{
	document.getElementById("modal8").showModal()
}))
document.querySelectorAll(".room9").forEach(room=>room.addEventListener("click",()=>{
	document.getElementById("modal9").showModal()
}))


// Close all modals when you click on any X button

document.querySelectorAll(".closeButton").forEach((button)=>{
	button.addEventListener('click',()=>{
		document.querySelectorAll(".modal").forEach((m)=>m.close())}
	)
})

//Close Modal when you click anywhere on the backdrop


	document.getElementById("modal1").addEventListener('click', (event)=> {
		  let rect = document.getElementById("modal1").getBoundingClientRect();
		  let isInDialogA = (rect.top <= event.clientY && event.clientY <= rect.top + rect.height &&
		rect.left <= event.clientX && event.clientX <= rect.left + rect.width);
		  if (!isInDialogA) {
			document.getElementById("modal1").close();
		  }
	});
	document.getElementById("modal2").addEventListener('click', (event)=> {
		  let rectB = document.getElementById("modal2").getBoundingClientRect();
		  let isInDialogB = (rectB.top <= event.clientY && event.clientY <= rectB.top + rectB.height &&
		rectB.left <= event.clientX && event.clientX <= rectB.left + rectB.width);
		  if (!isInDialogB) {
			document.getElementById("modal2").close();
		  }
	});
	document.getElementById("modal3").addEventListener('click', (event)=> {
		  let rectC = document.getElementById("modal3").getBoundingClientRect();
		  let isInDialogC = (rectC.top <= event.clientY && event.clientY <= rectC.top + rectC.height &&
		rectC.left <= event.clientX && event.clientX <= rectC.left + rectC.width);
		  if (!isInDialogC) {
			document.getElementById("modal3").close();
		  }
	});
	document.getElementById("modal4").addEventListener('click', (event)=> {
		  let rectD = document.getElementById("modal4").getBoundingClientRect();
		  let isInDialogD = (rectD.top <= event.clientY && event.clientY <= rectD.top + rectD.height &&
		rectD.left <= event.clientX && event.clientX <= rectD.left + rectD.width);
		  if (!isInDialogD) {
			document.getElementById("modal4").close();
		  }
	});
	document.getElementById("modal5").addEventListener('click', (event)=> {
		  let rectD = document.getElementById("modal5").getBoundingClientRect();
		  let isInDialogD = (rectD.top <= event.clientY && event.clientY <= rectD.top + rectD.height &&
		rectD.left <= event.clientX && event.clientX <= rectD.left + rectD.width);
		  if (!isInDialogD) {
			document.getElementById("modal5").close();
		  }
	});
	document.getElementById("modal6").addEventListener('click', (event)=> {
		  let rectD = document.getElementById("modal6").getBoundingClientRect();
		  let isInDialogD = (rectD.top <= event.clientY && event.clientY <= rectD.top + rectD.height &&
		rectD.left <= event.clientX && event.clientX <= rectD.left + rectD.width);
		  if (!isInDialogD) {
			document.getElementById("modal6").close();
		  }
	});
	document.getElementById("modal7").addEventListener('click', (event)=> {
		  let rectD = document.getElementById("modal7").getBoundingClientRect();
		  let isInDialogD = (rectD.top <= event.clientY && event.clientY <= rectD.top + rectD.height &&
		rectD.left <= event.clientX && event.clientX <= rectD.left + rectD.width);
		  if (!isInDialogD) {
			document.getElementById("modal7").close();
		  }
	});
	document.getElementById("modal8").addEventListener('click', (event)=> {
		  let rectD = document.getElementById("modal8").getBoundingClientRect();
		  let isInDialogD = (rectD.top <= event.clientY && event.clientY <= rectD.top + rectD.height &&
		rectD.left <= event.clientX && event.clientX <= rectD.left + rectD.width);
		  if (!isInDialogD) {
			document.getElementById("modal8").close();
		  }
	});
	document.getElementById("modal9").addEventListener('click', (event)=> {
		  let rectD = document.getElementById("modal9").getBoundingClientRect();
		  let isInDialogD = (rectD.top <= event.clientY && event.clientY <= rectD.top + rectD.height &&
		rectD.left <= event.clientX && event.clientX <= rectD.left + rectD.width);
		  if (!isInDialogD) {
			document.getElementById("modal9").close();
		  }
	});



	// document.getElementById("modal10").addEventListener('click', (event)=> {
	// 	  let rectD = document.getElementById("modal10").getBoundingClientRect();
	// 	  let isInDialogD = (rectD.top <= event.clientY && event.clientY <= rectD.top + rectD.height &&
	// 	rectD.left <= event.clientX && event.clientX <= rectD.left + rectD.width);
	// 	  if (!isInDialogD) {
	// 		document.getElementById("modal10").close();
	// 	  }
	// });
	
	</script>


<style>
    body {
        overflow: hidden;
    }
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .tabs {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
    }
    .tab-button {
        padding: 12px 24px;
        border: none;
        background-color: hsl(240, 15%, 27%);
        color: hsl(240, 15%, 97%);
        cursor: pointer;
        font-size: 16px;
        border-radius: 4px;
        margin: 0 8px;
        transition: background-color 0.3s;
    }
    .tab-button.selected {
        background-color: hsl(230, 100%, 69%);
    }
    .tab-button:hover {
        background-color: hsl(230, 100%, 75%);
    }
    section {
        background-color: hsl(240, 15%, 17%);
        height: calc(100vh - 48px);
        margin: 24px;
        border-radius: 13px;
        background-position: 50% 70%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .imageWrapper3D {
        position: relative;
        max-height: calc(100vh - 48px);
        aspect-ratio: 16 / 9;
    }
    .imageWrapper3D img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        aspect-ratio: 16 / 9;
    }
    .image-area {
        position: absolute;
        left: 0;
        top: 0;
    }
    .toprow {
        fill: #75A93A;
        cursor: pointer;
        stroke: white;
        stroke-width: 4;
        z-index: 9;
        fill-opacity: 0;
    }
    .secondrow {
        fill: #75A93A;
        fill-opacity: 0.4;
        cursor: pointer;
    }
    .toprow:hover {
        fill-opacity: 0.4;
    }
    .secondrow:hover {
        fill-opacity: 0.6;
    }
    dialog {
        height: calc(100vh - 16px);
        border: none;
    }
    dialog::backdrop {
        background-color: #26263399;
    }
    .outline {
        fill: none;
        stroke: white;
        stroke-width: .2;
    }
    .svg-text {
        fill: #a93a75;
        font: bold 5rem "Poppins", sans-serif;
        pointer-events: none;
        display: block;
    }
    .svg-number {
        display: none;
        fill: #a93a75;
        font: bold 7rem "Poppins", sans-serif;
        z-index: 9;
    }
    .modal {
        width: fit-content;
        height: fit-content;
        border-radius: 12px;
        overflow: hidden;
        outline: none;
    }
    .modalImage {
        border-radius: 8px;
        max-width: 80vw;
        max-height: 80vh;
    }
    .layama {
        width: auto;
        height: 80vh;
        aspect-ratio: auto;
        max-width: 80vw;
    }
    .closeButton {
        position: fixed;
        top: 8px;
        right: 8px;
        height: 48px;
        width: 48px;
        outline: none;
        background-color: hsl(240, 15%, 27%);
        color: hsl(240, 15%, 97%);
        cursor: pointer;
        font-size: 16pt;
        border: 2px hsl(240, 15%, 27%) solid;
        border-radius: 250px;
        text-align: center;
    }
    main {
        height: calc(100dvh - 80px);
        overflow: scroll;
    }
    ul {
        list-style-type: none;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .mobile-text {
        color: white;
        display: none;
        width: 100%;
    }
    .mobile-text li {
        display: flex;
        justify-content: space-between;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-inline: 8px;
    }
    .mobile-text span {
        cursor: pointer;
    }
    .texto-3d-impar {
        background-color: hsl(240, 15%, 37%);
    }
    @media (orientation: portrait) {
        .svg-number {
            display: block;
            pointer-events: none;
        }
        .layama {
            border-radius: 12px;
            border: solid 8px white;
            max-width: 90vw;
        }
        .svg-text {
            display: none;
        }
        .mobile-text {
            display: flex;
        }
        section {
            height: auto;
            width: 100%;
            margin: 0;
        }
        .modal {
            padding: 0;
            max-height: calc(100vh - 80px);
            background-color: transparent;
        }
        .modalImage {
            margin: 0;
            border: 15px solid white;
            
        }
        .mobile-text-list {
            display: flex;
            flex-direction: column;
            gap: 0px;
            margin-bottom: 40px;
        }
        .mobile-text-list li {
            padding-top: 8px;
            padding-bottom: 8px;
            padding-inline: 8px;
        }
        main {
            height: calc(100dvh - 80px);
            overflow: scroll;
        }
    }
</style>
