---
import Layout from "../../layouts/Layout.astro";
---


<Layout title="Plano 3D">
    <main>
        <section>
			<div class='imageWrapper'>
				<!-- fill with SVG areas -->
				<svg viewBox="0 0 90 90" class='image-area image-area--orange-1'>
					
						

					<text x="19" y="20" class="svg-text">+</text>
					<text x="45" y="20" class="svg-text">+</text>
					<text x="70" y="20" class="svg-text">+</text>
					<text x="45" y="45" class="svg-text">+</text>
					<g class="toprow" id="room1" ><path d="M 30.8 33.8 H 4.8 L 8.8 2.6 H 33.1 Z" />
					</g>
					<g class="toprow" id="room2" ><path d="M 33.3 2.6 L 31 33.8 H 60.1 L 58.9 2.6 Z" />
					</g>
					<g class="toprow" id="room3" ><path d="M 80.8 2.6 L 84.7 33.8 H 60.4 L 59.1 2.6 Z" />
					</g>
					<g class="toprow" id="room4" ><path d="M 4.8 34.1 H 84.7 L 87.1 55.8 H 61.7 L 61.5 51.2 H 29.7 L 29.7 55.8 H 2.6 Z" />
					</g>


			</svg>
				<!-- -->
				
				<img src="/magnolia.webp"/>
			  </div>

			 
			
        </section>
		<div>
			<dialog id="modal1" class="modal">
				<button class="closeButton">X</button>
				<iframe src="https://kotekvirtual.es/high-2/" height="100%" width="100%" frameborder="0"></iframe>
			</dialog>
			<dialog id="modal2" class="modal">
				<button class="closeButton">X</button>
				<img src="/salon.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="modal3" class="modal">
				<button class="closeButton">X</button>
				<img src="/dormitorio1.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="modal4" class="modal">
				<button class="closeButton">X</button>
				<img src="/cocina.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			
		  </div>
    </main>
</Layout>

<script type="module">
	document.querySelector("#room1").addEventListener("click",()=>{
	document.getElementById("modal1").showModal()
})
document.querySelector("#room2").addEventListener("click",()=>{
	document.getElementById("modal2").showModal()
})
document.querySelector("#room3").addEventListener("click",()=>{
	document.getElementById("modal3").showModal()
})
document.querySelector("#room4").addEventListener("click",()=>{
	document.getElementById("modal4").showModal()
})



	document.getElementById("modal1").addEventListener('click', (event)=> {
		  let rect = document.getElementById("modal1").getBoundingClientRect();
		  let isInDialogA = (rect.top <= event.clientY && event.clientY <= rect.top + rect.height &&
		rect.left <= event.clientX && event.clientX <= rect.left + rect.width);
		  if (!isInDialogA) {
			document.getElementById("modal1").close();
		  }
	});
	document.getElementById("modal2").addEventListener('click', (event)=> {
		  let rectB = document.getElementById("modal2").getBoundingClientRect();
		  let isInDialogB = (rectB.top <= event.clientY && event.clientY <= rectB.top + rectB.height &&
		rectB.left <= event.clientX && event.clientX <= rectB.left + rectB.width);
		  if (!isInDialogB) {
			document.getElementById("modal2").close();
		  }
	});
	document.getElementById("modal3").addEventListener('click', (event)=> {
		  let rectC = document.getElementById("modal3").getBoundingClientRect();
		  let isInDialogC = (rectC.top <= event.clientY && event.clientY <= rectC.top + rectC.height &&
		rectC.left <= event.clientX && event.clientX <= rectC.left + rectC.width);
		  if (!isInDialogC) {
			document.getElementById("modal3").close();
		  }
	});
	document.getElementById("modal4").addEventListener('click', (event)=> {
		  let rectD = document.getElementById("modal4").getBoundingClientRect();
		  let isInDialogD = (rectD.top <= event.clientY && event.clientY <= rectD.top + rectD.height &&
		rectD.left <= event.clientX && event.clientX <= rectD.left + rectD.width);
		  if (!isInDialogD) {
			document.getElementById("modal4").close();
		  }
	});
	
	</script>


<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	section{
		background-color: hsl(240, 15%, 17%);
		height: calc(100vh - 48px);
		margin: 24px;
		border-radius: 13px;
		background-position: 50% 70%;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;

	}
.imageWrapper {

  position: relative;

}

.imageWrapper img {
  width:100%; 
  height:100%;
  border-radius: 12px;
  object-position: top;
  max-height: calc(100vh - 48px);

}

.image-area{
  	position: absolute;
	left: 0;
	top: 0;
}

.toprow{
	fill: #75A93A;
    fill-opacity: 0.3;
    cursor: pointer;
	stroke: white;
	stroke-width: .2;

}
.secondrow{
	fill: #a93a3a;
    fill-opacity: 0.4;
    cursor: pointer;
}
.toprow :hover{
	fill-opacity: 0.8;


}
.secondrow :hover{
	fill-opacity: 0.8;
}
dialog{
	height: calc(100vh - 16px);
	border: none;
}
dialog::backdrop{
	background-color: #26263399;
}

.outline{
	fill: none;
	stroke: white;
	stroke-width: .2;
}
.svg-text{
	fill: #a93a75;
	font: bold 3px "Poppins",sans-serif;
}
.modal{
	width: fit-content;
	height: fit-content;
	border-radius: 12px;
	overflow: hidden;
	outline: none;
	
}
.modalImage{
	border-radius: 8px;
	max-width: 80vw;
	max-height: 80vh;
}
#modal1{
	width: auto;
	height: 80vh;
	aspect-ratio: auto;
	max-width: 80vw;

}
.closeButton{
	position: fixed;
	top: 8px;
	right: 8px;
	height: 64px;
	width: 64px;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	border: none;
	font-size: 4rem;
	color: white;
}
</style>
