---
import Layout from "../../layouts/Layout.astro";
---


<Layout title="Plano 3D G">
    <main>
        <div class="tabs">
            <button class="tab-button" onclick="window.location.href='/plano3d/vivienda-f/'">2º F</button>
            <button class="tab-button selected">2º G</button>
            <button class="tab-button" onclick="window.location.href='/plano3d/'">1º C</button>
            <button class="tab-button" onclick="window.location.href='/plano3d/vivienda-h/'">2º H</button>
        </div>
        <div class="tabs">
            <button class="tab-button selected">Plano Interactivo</button>
            <button class="tab-button" onclick="window.location.href='/visitavirtual-g/'">Tour Virtual</button>
            <button class="tab-button show-desktop boton-plano">Ficha Comercial</button>
            <button class="tab-button icono-plano show-mobile boton-plano">
				<svg
				xmlns="http://www.w3.org/2000/svg"
				width="90%"
				height="90%"
				viewBox="0 0 24 24"
				fill="#FFF"
				stroke="#000"
				stroke-width="1"
				stroke-linecap="round"
				stroke-linejoin="round"
				>
				<path d="M14 3v4a1 1 0 0 0 1 1h4" />
				<path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
				<path d="M9 17h6" />
				<path d="M9 13h6" />
				</svg>
			</button>
        </div>
        <section>
			<div class='imageWrapper3D'>
				<!-- fill with SVG areas -->
				<svg viewBox="0 0 2400 1412" class='image-area image-area--orange-1'>
					<g class="" >
                        <!-- <path d="M 39.659 5.238 L 189.008 4.125 L 189.008 57.674 L 502.295 56.735 L 507.604 134.054 L 684.592 132.324 L 713.794 411.236 L 464.151 412.8 L 469.626 519.19 L 439.703 545.072 L 3.318 548.474 Z" /> -->
					<g class="toprow room1" ><path d="M 99.998 96.241 L 99.998 92.625 L 267.84 93.379 L 267.84 96.114 L 310.088 96.114 L 310.225 93.242 L 393.426 93.445 L 393.426 84.807 L 685.913 85.094 L 686.078 94.308 L 697.8 94.349 L 698.077 737.913 L 388.333 738.173 L 388.231 705.759 L 366.054 705.732 L 365.933 737.842 L 351.913 737.803 L 352.22 962.462 L 386.591 963.081 L 386.899 1113.146 L 502.897 1113.372 L 503.512 1204.471 L 590.788 1205.555 L 681.461 1113.192 L 680.953 1323.63 L 238.686 1325.279 L 238.013 547.239 L 170.623 547.836 L 171.034 470.383 L 145.872 470.637 L 146.101 170.64 L 95.274 170.882 L 94.899 97.023 L 94.936 96.69 L 99.976 96.727 Z" /></g>
					<g class="toprow room2" ><path d="M 367.026 752.501 L 694.349 752.501 L 695.397 892.334 L 668.163 891.81 L 668.687 949.419 L 367.55 948.372 Z" /></g>
					<g class="toprow room3" ><path d="M 1389.93 624.039 L 1820.036 625.32 L 1819.891 172.742 L 1389.974 110.714 Z" /></g>
					<g class="toprow room4" ><path d="M 1929.905 625.697 L 2063.77 625.822 L 2063.518 425.944 L 2321.591 426.214 L 2322.482 247.422 L 1930.023 191.482 Z" /></g>
					<g class="toprow room5" ><path d="M 1649.086 795.114 L 1804.653 795.447 L 1804.847 1289.988 L 1392.172 1289.697 L 1391.365 888.453 L 1649.233 888.062 Z" /></g>
					
					
                    <text x="500" y="870" class="svg-text">+</text>
                    <text x="450" y="450" class="svg-text">+</text>
                    <text x="1580" y="420" class="svg-text">+</text>
                    <text x="2120" y="370" class="svg-text">+</text>
                    <text x="1580" y="1100" class="svg-text">+</text>

					<text x="500" y="870" class="svg-number">4</text>
                    <text x="450" y="450" class="svg-number">1</text>
                    <text x="1580" y="420" class="svg-number">2</text>
                    <text x="2120" y="370" class="svg-number">5</text>
                    <text x="1580" y="1100" class="svg-number">3</text>

                   

					
                    </g>
					
					<img src="/planoG.webp"/>
					
			</svg>
				<!-- -->
				
				
			  </div>

			  <aside class="mobile-text">
                <ul class="mobile-text-list">
                    <li class="room1">1. Salón-Comedor-Cocina <span >34.63m²</span></li>
                    <li class="texto-3d-impar room3">2. Dormitorio Principal <span>12.04m²</span></li> 
                    <li class="room5">3. Dormitorio Secundario <span >10.12m²</span></li> 
                    <li class="texto-3d-impar room2">4. Baño Planta Baja <span>5.10m²</span></li> 
                    <li class="room4">5. Aseo Planta Superior <span >4.50m²</span></li> 
                </ul>
            </aside>
			
        </section>
		
		<div>
			<dialog id="modalG1" class="modal">
				<button class="closeButton"> &#9587;</button>
				<img src="/g-salon.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="modalG2" class="modal">
				<button class="closeButton"> &#9587;</button>
				<img src="/g-aseo1.webp" alt="ficha comercial" class="modalImage">
			</dialog>
            <dialog id="modalG3" class="modal">
                <button class="closeButton"> &#9587;</button>
                <img src="/g-dorm1.webp" alt="ficha comercial" class="modalImage">
            </dialog>
            <dialog id="modalG4" class="modal">
                <button class="closeButton"> &#9587;</button>
                <img src="/g-aseo2.webp" alt="ficha comercial" class="modalImage">
            </dialog>
            <dialog id="modalG5" class="modal">
                <button class="closeButton"> &#9587;</button>
                <img src="/g-dorm2.webp" alt="ficha comercial" class="modalImage">
            </dialog>
			<dialog id="fichaModal">
				<button class="closeButton"> &#9587;</button>
				<img src="/viviendaG.webp" alt="ficha comercial" class="modalFicha">
			</dialog>
			
		  </div>
		  
    </main>
</Layout>

<script type="module">
	//Make all modal open with their corresponding button

	document.querySelectorAll(".room1").forEach(room=>room.addEventListener("click",()=>{
	document.getElementById("modalG1").showModal()
}))
document.querySelectorAll(".room2").forEach(room=>room.addEventListener("click",()=>{
	document.getElementById("modalG2").showModal()
}))
document.querySelectorAll(".room3").forEach(room=>room.addEventListener("click",()=>{
    document.getElementById("modalG3").showModal()
}))
document.querySelectorAll(".room4").forEach(room=>room.addEventListener("click",()=>{
    document.getElementById("modalG4").showModal()
}))
document.querySelectorAll(".room5").forEach(room=>room.addEventListener("click",()=>{
    document.getElementById("modalG5").showModal()
}))
document.querySelectorAll(".boton-plano").forEach(room=>room.addEventListener("click",()=>{
    document.getElementById("fichaModal").showModal()
}))



// Close all modals when you click on any X button

document.querySelectorAll(".closeButton").forEach((button)=>{
	button.addEventListener('click',()=>{
		document.querySelectorAll(".modal").forEach((m)=>m.close())}
	)
})

//Close Modal when you click anywhere on the backdrop


	document.getElementById("modalG1").addEventListener('click', (event)=> {
		  let rect = document.getElementById("modalG1").getBoundingClientRect();
		  let isInDialogA = (rect.top <= event.clientY && event.clientY <= rect.top + rect.height &&
		rect.left <= event.clientX && event.clientX <= rect.left + rect.width);
		  if (!isInDialogA) {
			document.getElementById("modalG1").close();
		  }
	});
	document.getElementById("modalG2").addEventListener('click', (event)=> {
		  let rectB = document.getElementById("modalG2").getBoundingClientRect();
		  let isInDialogB = (rectB.top <= event.clientY && event.clientY <= rectB.top + rectB.height &&
		rectB.left <= event.clientX && event.clientX <= rectB.left + rectB.width);
		  if (!isInDialogB) {
			document.getElementById("modalG2").close();
		  }
	});
    document.getElementById("modalG3").addEventListener('click', (event)=> {
          let rectC = document.getElementById("modalG3").getBoundingClientRect();
          let isInDialogC = (rectC.top <= event.clientY && event.clientY <= rectC.top + rectC.height &&
        rectC.left <= event.clientX && event.clientX <= rectC.left + rectC.width);
          if (!isInDialogC) {
            document.getElementById("modalG3").close();
          }
    });
    document.getElementById("modalG4").addEventListener('click', (event)=> {
          let rectD = document.getElementById("modalG4").getBoundingClientRect();
          let isInDialogD = (rectD.top <= event.clientY && event.clientY <= rectD.top + rectD.height &&
        rectD.left <= event.clientX && event.clientX <= rectD.left + rectD.width);
          if (!isInDialogD) {
            document.getElementById("modalG4").close();
          }
    });
    document.getElementById("modalG5").addEventListener('click', (event)=> {
          let rectE = document.getElementById("modalG5").getBoundingClientRect();
          let isInDialogE = (rectE.top <= event.clientY && event.clientY <= rectE.top + rectE.height &&
        rectE.left <= event.clientX && event.clientX <= rectE.left + rectE.width);
          if (!isInDialogE) {
            document.getElementById("modalG5").close();
          }
    });
    document.getElementById("fichaModal").addEventListener('click', (event)=> {
          let rectF = document.getElementById("fichaModal").getBoundingClientRect();
          let isInDialogF = (rectF.top <= event.clientY && event.clientY <= rectF.top + rectF.height &&
        rectF.left <= event.clientX && event.clientX <= rectF.left + rectF.width);
          if (!isInDialogF) {
            document.getElementById("fichaModal").close();
          }
    });
	</script>

<style>
    body {
        overflow: hidden;
    }
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .tipos {
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
    }
    .tabs {
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
    }
    .tab-button {
        padding: 12px 24px;
        border: none;
        background-color: hsl(240, 15%, 27%);
        color: hsl(240, 15%, 97%);
        cursor: pointer;
        font-size: 16px;
        border-radius: 4px;
        margin: 4px 1px;
        transition: background-color 0.3s;
    }
    .tab-button.selected {
        background-color: hsl(230, 100%, 69%);
    }
    .tab-button:hover {
        background-color: hsl(230, 100%, 75%);
    }
    .icono-plano{
		border-radius: 50%;
		width: 15vw;
		height: 15vw;
		max-width: 120px;
		max-height: 120px;
		padding: 03px 0px 0px 02px;
		position: absolute;
		right: 24px;
		top: 120px;
        z-index: 10;
	}
    .modalFicha{
        border-radius: 12px;
        max-width: 80vw;
        max-height: 80vh;
    }
    #fichaModal{
        max-width: 90vw;
        max-height: 90vh;
        height: fit-content;
        width: fit-content;
        padding: 0;
        background-color: transparent;
    }
    section {
        padding-top: 45px;
        background-color: hsl(240, 15%, 17%);
        height: calc(100vh - 48px);
        margin-inline: 24px;
        border-radius: 13px;
        background-position: 50% 70%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .imageWrapper3D {

        position: relative;
        max-height: calc(100vh - 88px);
    }
    .imageWrapper3D img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }
    .image-area {
        position: absolute;
        left: 0;
        top: 0;
    }
    .toprow {
        fill: #75A93A;
        cursor: pointer;
        stroke: white;
        stroke-width: 4;
        z-index: 9;
        fill-opacity: 0;
    }
    .secondrow {
        fill: #75A93A;
        fill-opacity: 0;
        cursor: pointer;
    }
    .toprow:hover {
        fill-opacity: 0.6;
    }
    .secondrow:hover {
        fill-opacity: 0.6;
    }
    dialog {
        height: calc(100vh - 16px);
        border: none;
    }
    dialog::backdrop {
        background-color: #26263399;
    }
    .outline {
        fill: none;
        stroke: white;
        stroke-width: .2;
    }
    .svg-text {
        fill: #a93a75;
        font: bold 5rem "Poppins", sans-serif;
        pointer-events: none;
        display: block;
    }
    .svg-number {
        display: none;
        fill: #a93a75;
        font: bold 7rem "Poppins", sans-serif;
        z-index: 9;
    }
    .modal {
        width: fit-content;
        height: fit-content;
        border-radius: 12px;
        overflow: hidden;
        outline: none;
        background-color: white;
    }
    .modalImage {
        border-radius: 8px;
        max-width: 80vw;
        max-height: 80vh;
    }
    .layama {
        width: auto;
        height: 80vh;
        aspect-ratio: auto;
        max-width: 80vw;
    }
    .closeButton {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 8px;
        right: 8px;
        height: 48px;
        width: 48px;
        outline: none;
        background-color: hsl(240, 15%, 27%);
        color: hsl(240, 15%, 97%);
        cursor: pointer;
        font-size: 16pt;
        border: 2px hsl(240, 15%, 27%) solid;
        border-radius: 250px;
        text-align: center;
    }
    main {
        height: calc(100dvh - 80px);
    }
    ul {
        list-style-type: none;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .mobile-text {
        color: white;
        display: none;
        width: 100%;
    }
    .mobile-text li {
        display: flex;
        justify-content: space-between;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-inline: 8px;
    }
    .mobile-text span {
        cursor: pointer;
    }
    .texto-3d-impar {
        background-color: hsl(240, 15%, 37%);
    }
    .show-desktop{
        display: inline-block;
    }
    .show-mobile{
        display: none;
    }    
    @media (orientation: portrait) {
        .icono-plano{
            right: 8px;
            top: 208px;
        }
        .svg-number {
            display: block;
            pointer-events: none;
        }
        .layama {
            border-radius: 12px;
            border: solid 8px white;
            max-width: 90vw;
        }
        .svg-text {
            display: none;
        }
        .mobile-text {
            display: flex;
        }
        section {
            height: auto;
            width: 100%;
            margin: 0;
        }
        .modal {
            padding: 0;
            max-height: calc(100vh - 80px);
        }
        .modalImage {
            margin: 0;
            border: 15px solid white;
            
        }
        .mobile-text-list {
            display: flex;
            flex-direction: column;
            gap: 0px;
            margin-bottom: 40px;
        }
        .mobile-text-list li {
            padding-top: 8px;
            padding-bottom: 8px;
            padding-inline: 8px;
        }
        main {
            height: calc(100dvh - 80px);
            overflow: scroll;
        }
        .closeButton {
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .show-mobile{
            display: inline-block;
        }
        .show-desktop{
            display: none;
        }    
    }
</style>
