---
import Layout from "../../layouts/Layout.astro";
---
<!-- QUITAR EL HEIGHT EN EL SECTION !!!  y probar soluciones -->

<Layout title="Plano 3D H">
    <main>
        <div class="tabs">
            <button class="tab-button" onclick="window.location.href='/plano3d/vivienda-f/'">2º F</button>
            <button class="tab-button" onclick="window.location.href='/plano3d/vivienda-g/'">2º G</button>
            <button class="tab-button" onclick="window.location.href='/plano3d/'">1º C</button>
            <button class="tab-button selected">2º H</button>
        </div>
        <div class="tabs">
            <button class="tab-button selected">Plano Interactivo</button>
            <button class="tab-button" onclick="window.location.href='/visitavirtual-h/'">Tour Virtual</button>
            <button class="tab-button show-desktop boton-plano">Ficha Comercial</button>
            <button class="tab-button icono-plano show-mobile boton-plano">
				<svg
				xmlns="http://www.w3.org/2000/svg"
				width="90%"
				height="90%"
				viewBox="0 0 24 24"
				fill="#FFF"
				stroke="#000"
				stroke-width="1"
				stroke-linecap="round"
				stroke-linejoin="round"
				>
				<path d="M14 3v4a1 1 0 0 0 1 1h4" />
				<path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
				<path d="M9 17h6" />
				<path d="M9 13h6" />
				</svg>
			</button>
        </div>
        <section>
			<div class='imageWrapper3D'>
				<!-- fill with SVG areas -->
				<svg viewBox="0 0 2800 1412" class='image-area image-area--orange-1'>
					<g class="" >
                        <!-- <path d="M 39.659 5.238 L 189.008 4.125 L 189.008 57.674 L 502.295 56.735 L 507.604 134.054 L 684.592 132.324 L 713.794 411.236 L 464.151 412.8 L 469.626 519.19 L 439.703 545.072 L 3.318 548.474 Z" /> -->
					<g class="toprow room1" ><path d="M 32.955 220.033 L 33.222 673.95 L 471.108 673.943 L 471.168 666.021 L 477.132 665.991 L 477.06 566.242 L 470.893 566.242 L 470.979 547.74 L 385.339 547.792 L 386.034 190.756 L 226.47 191.432 L 226.372 220.477 Z" /></g>
					<g class="toprow room2" ><path d="M 704.387 245.331 L 705.335 546.012 L 836.844 546.038 L 837.166 661.976 L 934.168 661.854 L 934.166 244.961 Z" /></g>

					<g class="toprow room3" ><path d="M 804.279 733.498 L 810.415 733.498 L 810.308 724.321 L 1217.517 724.433 L 1217.58 1076.55 L 890.465 1075.75 L 890.328 848.691 L 810.473 848.581 L 810.329 833.577 L 804.518 833.595 Z" /></g>
					<g class="toprow room4" ><path d="M 1639.489 125.519 L 2001.538 125.445 L 2001.247 305.637 L 1906.889 305.709 L 1906.686 442.868 L 1778.752 442.323 L 1779.045 524.087 L 1862.48 524.133 L 1862.241 504.5 L 2103.448 503.237 L 2103.767 550.931 L 2083.007 550.931 L 2083.181 693.085 L 1957.621 693.532 L 1958.088 774.727 L 1958.111 775.015 L 2260.7 775.282 L 2261.36 891.835 L 2121.06 891.605 L 2120.941 1217.993 L 2109.665 1217.714 L 2111.095 1341.149 L 1709.661 1342.224 L 1708.909 1255.729 L 1735.735 1254.977 L 1735.484 1219.377 L 1708.909 1219.628 L 1708.94 850.061 L 1561.991 849.996 L 1562.347 454.071 L 1639.157 454.093 Z" /></g>
                    <g class="toprow room5" ><path d="M 2147.394 760.417 L 2147.113 553.08 L 2173.369 553.166 L 2173.435 458.224 L 2374.342 458.241 L 2374.342 761.021 Z" /></g>
                    <g class="toprow room6" ><path d="M 2132.736 904.052 L 2273.527 903.385 L 2273.527 858.011 L 2461.026 858.011 L 2463.028 1341.773 L 2131.401 1341.773 Z" /></g>
					
                    <text x="225" y="500" class="svg-text">+</text>
					<text x="805" y="450" class="svg-text">+</text>
					<text x="1000" y="930" class="svg-text">+</text>
					<text x="1880" y="956" class="svg-text">+</text>
					<text x="2240" y="1130" class="svg-text">+</text>
					<text x="2230" y="650" class="svg-text">+</text>

                    <text x="225" y="500" class="svg-number">2</text>
					<text x="805" y="450" class="svg-number">6</text>
					<text x="1000" y="930" class="svg-number">4</text>
					<text x="1880" y="956" class="svg-number">1</text>
					<text x="2240" y="1130" class="svg-number">3</text>
					<text x="2230" y="650" class="svg-number">5</text>
                

					
                    </g>
					
					<img src="/planoH.webp"/>
					
			</svg>
				<!-- -->
				
				
			  </div>

			  <aside class="mobile-text">
                <ul class="mobile-text-list">
                    <li class="room4">1. Salón-Comedor-Cocina <span >35.84m²</span></li>
                    <li class="texto-3d-impar room1">2. Dormitorio Principal <span>12.34m²</span></li> 
                    <li class="room6">3. Dormitorio Secundario <span >9.02m²</span></li> 
                    <li class="room3 texto-3d-impar">4. Dormitorio 3 <span >9.40m²</span></li>
                    <li class="room5">5. Baño Planta Baja <span>5.07m²</span></li> 
                    <li class="room2 texto-3d-impar">6. Aseo Planta Superior <span >3.94m²</span></li> 
                </ul>
            </aside>
			
        </section>
		
		<div>
			<dialog id="modalH1" class="modal">
				<button class="closeButton"> &#9587;</button>
				<img src="/h-dorm2.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="modalH2" class="modal">
				<button class="closeButton"> &#9587;</button>
				<img src="/h-aseo2.webp" alt="ficha comercial" class="modalImage">
			</dialog>
            <dialog id="modalH3" class="modal">
                <button class="closeButton"> &#9587;</button>
                <img src="/h-dorm3.webp" alt="ficha comercial" class="modalImage">
            </dialog>
            <dialog id="modalH4" class="modal">
                <button class="closeButton"> &#9587;</button>
                <img src="/h-salon.webp" alt="ficha comercial" class="modalImage">
            </dialog>
            <dialog id="modalH5" class="modal">
                <button class="closeButton"> &#9587;</button>
                <img src="/h-aseo1.webp" alt="ficha comercial" class="modalImage">
            </dialog>
            <dialog id="modalH6" class="modal">
                <button class="closeButton"> &#9587;</button>
                <img src="/h-dorm1.webp" alt="ficha comercial" class="modalImage">
            </dialog>
			<dialog id="fichaModal">
				<button class="closeButton"> &#9587;</button>
				<img src="/viviendaH.webp" alt="ficha comercial" class="modalFicha">
			</dialog>
			
		  </div>
		  
    </main>
</Layout>

<script type="module">
	//Make all modal open with their corresponding button

	document.querySelectorAll(".room1").forEach(room=>room.addEventListener("click",()=>{
	document.getElementById("modalH1").showModal()
}))
document.querySelectorAll(".room2").forEach(room=>room.addEventListener("click",()=>{
	document.getElementById("modalH2").showModal()
}))
document.querySelectorAll(".room3").forEach(room=>room.addEventListener("click",()=>{
    document.getElementById("modalH3").showModal()
}))
document.querySelectorAll(".room4").forEach(room=>room.addEventListener("click",()=>{
    document.getElementById("modalH4").showModal()
}))
document.querySelectorAll(".room5").forEach(room=>room.addEventListener("click",()=>{
    document.getElementById("modalH5").showModal()
}))
document.querySelectorAll(".room6").forEach(room=>room.addEventListener("click",()=>{
    document.getElementById("modalH6").showModal()
}))
document.querySelectorAll(".boton-plano").forEach(room=>room.addEventListener("click",()=>{
    document.getElementById("fichaModal").showModal()
}))


// Close all modals when you click on any X button

document.querySelectorAll(".closeButton").forEach((button)=>{
	button.addEventListener('click',()=>{
		document.querySelectorAll(".modal").forEach((m)=>m.close())}
	)
})

//Close Modal when you click anywhere on the backdrop


	document.getElementById("modalH1").addEventListener('click', (event)=> {
		  let rect = document.getElementById("modalH1").getBoundingClientRect();
		  let isInDialogA = (rect.top <= event.clientY && event.clientY <= rect.top + rect.height &&
		rect.left <= event.clientX && event.clientX <= rect.left + rect.width);
		  if (!isInDialogA) {
			document.getElementById("modalH1").close();
		  }
	});
	document.getElementById("modalH2").addEventListener('click', (event)=> {
		  let rectB = document.getElementById("modalH2").getBoundingClientRect();
		  let isInDialogB = (rectB.top <= event.clientY && event.clientY <= rectB.top + rectB.height &&
		rectB.left <= event.clientX && event.clientX <= rectB.left + rectB.width);
		  if (!isInDialogB) {
			document.getElementById("modalH2").close();
		  }
	});
    document.getElementById("modalH3").addEventListener('click', (event)=> {
          let rectC = document.getElementById("modalH3").getBoundingClientRect();
          let isInDialogC = (rectC.top <= event.clientY && event.clientY <= rectC.top + rectC.height &&
        rectC.left <= event.clientX && event.clientX <= rectC.left + rectC.width);
          if (!isInDialogC) {
            document.getElementById("modalH3").close();
          }
    });
    document.getElementById("modalH4").addEventListener('click', (event)=> {
          let rectD = document.getElementById("modalH4").getBoundingClientRect();
          let isInDialogD = (rectD.top <= event.clientY && event.clientY <= rectD.top + rectD.height &&
        rectD.left <= event.clientX && event.clientX <= rectD.left + rectD.width);
          if (!isInDialogD) {
            document.getElementById("modalH4").close();
          }
    });
    document.getElementById("modalH5").addEventListener('click', (event)=> {
          let rectE = document.getElementById("modalH5").getBoundingClientRect();
          let isInDialogE = (rectE.top <= event.clientY && event.clientY <= rectE.top + rectE.height &&
        rectE.left <= event.clientX && event.clientX <= rectE.left + rectE.width);
          if (!isInDialogE) {
            document.getElementById("modalH5").close();
          }
    });
    document.getElementById("modalH6").addEventListener('click', (event)=> {
          let rectF = document.getElementById("modalH6").getBoundingClientRect();
          let isInDialogF = (rectF.top <= event.clientY && event.clientY <= rectF.top + rectF.height &&
        rectF.left <= event.clientX && event.clientX <= rectF.left + rectF.width);
          if (!isInDialogF) {
            document.getElementById("modalH6").close();
          }
    });
    document.getElementById("fichaModal").addEventListener('click', (event)=> {
          let rectF = document.getElementById("fichaModal").getBoundingClientRect();
          let isInDialogF = (rectF.top <= event.clientY && event.clientY <= rectF.top + rectF.height &&
        rectF.left <= event.clientX && event.clientX <= rectF.left + rectF.width);
          if (!isInDialogF) {
            document.getElementById("fichaModal").close();
          }
    });
	</script>



<style>
    body {
        overflow: hidden;
    }
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .tipos {
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
    }
    .tabs {
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
    }
    .tab-button {
        padding: 12px 24px;
        border: none;
        background-color: hsl(240, 15%, 27%);
        color: hsl(240, 15%, 97%);
        cursor: pointer;
        font-size: 16px;
        border-radius: 4px;
        margin: 4px 1px;
        transition: background-color 0.3s;
    }
    .tab-button.selected {
        background-color: hsl(230, 100%, 69%);
    }
    .tab-button:hover {
        background-color: hsl(230, 100%, 75%);
    }
    .icono-plano{
		border-radius: 50%;
		width: 15vw;
		height: 15vw;
		max-width: 120px;
		max-height: 120px;
		padding: 03px 0px 0px 02px;
		position: absolute;
		right: 24px;
		top: 120px;
        z-index: 10;
	}
    .modalFicha{
        border-radius: 12px;
        max-width: 80vw;
        max-height: 80vh;
    }
    #fichaModal{
        max-width: 90vw;
        max-height: 90vh;
        height: fit-content;
        width: fit-content;
        padding: 0;
        background-color: transparent;
    }
    section {
        background-color: hsl(240, 15%, 17%);
        height: calc(100vh - 48px);
        margin-inline: 24px;
        border-radius: 13px;
        background-position: 50% 70%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .imageWrapper3D {
        position: relative;
        max-height: calc(100vh - 88px);
    }
    .imageWrapper3D img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }
    .image-area {
        position: absolute;
        left: 0;
        top: 0;
    }
    .toprow {
        fill: #75A93A;
        cursor: pointer;
        stroke: white;
        stroke-width: 4;
        z-index: 9;
        fill-opacity: 0;
    }
    .secondrow {
        fill: #75A93A;
        fill-opacity: 0;
        cursor: pointer;
    }
    .toprow:hover {
        fill-opacity: 0.6;
    }
    .secondrow:hover {
        fill-opacity: 0.6;
    }
    dialog {
        height: calc(100vh - 16px);
        border: none;
    }
    dialog::backdrop {
        background-color: #26263399;
    }
    .outline {
        fill: none;
        stroke: white;
        stroke-width: .2;
    }
    .svg-text {
        fill: #a93a75;
        font: bold 5rem "Poppins", sans-serif;
        pointer-events: none;
        display: block;
    }
    .svg-number {
        display: none;
        fill: #a93a75;
        font: bold 7rem "Poppins", sans-serif;
        z-index: 9;
    }
    .modal {
        width: fit-content;
        height: fit-content;
        border-radius: 12px;
        overflow: hidden;
        outline: none;
        background-color: white;
    }
    .modalImage {
        border-radius: 8px;
        max-width: 80vw;
        max-height: 80vh;
    }
    .layama {
        width: auto;
        height: 80vh;
        aspect-ratio: auto;
        max-width: 80vw;
    }
    .closeButton {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 8px;
        right: 8px;
        height: 48px;
        width: 48px;
        outline: none;
        background-color: hsl(240, 15%, 27%);
        color: hsl(240, 15%, 97%);
        cursor: pointer;
        font-size: 16pt;
        border: 2px hsl(240, 15%, 27%) solid;
        border-radius: 250px;
        text-align: center;
    }
    main {
        height: calc(100dvh - 80px);
    }
    ul {
        list-style-type: none;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .mobile-text {
        color: white;
        display: none;
        width: 100%;
    }
    .mobile-text li {
        display: flex;
        justify-content: space-between;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-inline: 8px;
    }
    .mobile-text span {
        cursor: pointer;
    }
    .texto-3d-impar {
        background-color: hsl(240, 15%, 37%);
    }
    .show-desktop{
        display: inline-block;
    }
    .show-mobile{
        display: none;
    }    
    @media (orientation: portrait) {
        .icono-plano{
            right: 8px;
            top: 208px;
        }
        .svg-number {
            display: block;
            pointer-events: none;
        }
        .layama {
            border-radius: 12px;
            border: solid 8px white;
            max-width: 90vw;
        }
        .svg-text {
            display: none;
        }
        .mobile-text {
            display: flex;
        }
        section {
            height: auto;
            width: 100%;
            margin: 0;
        }
        .modal {
            padding: 0;
            max-height: calc(100vh - 80px);
        }
        .modalImage {
            margin: 0;
            border: 15px solid white;
            
        }
        .mobile-text-list {
            display: flex;
            flex-direction: column;
            gap: 0px;
            margin-bottom: 40px;
        }
        .mobile-text-list li {
            padding-top: 8px;
            padding-bottom: 8px;
            padding-inline: 8px;
        }
        main {
            height: calc(100dvh - 80px);
            overflow: scroll;
        }
        .closeButton {
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .show-mobile{
            display: inline-block;
        }
        .show-desktop{
            display: none;
        }    
    }
</style>
