---
import Layout from "../../layouts/Layout.astro";
---


<Layout title="Plano 3D F">
    <main>
        <div class="tabs">
            <button class="tab-button" onclick="window.location.href='/plano3d/'">Vivienda C</button>
            <button class="tab-button selected">Vivienda F</button>
        </div>
        <section>
			<div class='imageWrapper3D'>
				<!-- fill with SVG areas -->
				<svg viewBox="0 0 2000 1419" class='image-area image-area--orange-1'>
					<g class="" >
                        <!-- <path d="M 39.659 5.238 L 189.008 4.125 L 189.008 57.674 L 502.295 56.735 L 507.604 134.054 L 684.592 132.324 L 713.794 411.236 L 464.151 412.8 L 469.626 519.19 L 439.703 545.072 L 3.318 548.474 Z" /> -->
					<g class="toprow room1" ><path d="M 486 652 L 590 653 L 590 638 L 756 638 L 757 1022 L 518 1022 L 518 893 L 487 893 Z" /></g>
					<g class="toprow room2" ><path d="M 772 1306 L 771 1095 L 808 1095 L 808 1057 L 1000 1058 L 1000 1306 Z" /></g>
					<g class="toprow room3" ><path d="M 770 904 L 771 1042 L 880 1042 L 1103 1042 L 1103 1056 L 1013 1056 L 1014 1306 L 1521 1307 L 1521 903 Z" /></g>
					<g class="toprow room4" ><path d="M 1010 548 L 1011 686 L 1010 890 L 1521 890 L 1521 548 Z" /></g>
					<g class="toprow room5" ><path d="M 771 890 L 908 890 L 996 891 L 997 535 L 1520 534 L 1520 83 L 496 83 L 496 404 L 807 406 L 807 419 L 467 419 L 467 624 L 771 624 Z" /></g>
					
                    <text x="610" y="850" class="svg-text">+</text>
					<text x="860" y="1220" class="svg-text">+</text>
					<text x="1270" y="1120" class="svg-text">+</text>
					<text x="1250" y="740" class="svg-text">+</text>
					<text x="1000" y="400" class="svg-text">+</text>

                    <text x="610" y="850" class="svg-number">5</text>
					<text x="860" y="1220" class="svg-number">4</text>
					<text x="1270" y="1120" class="svg-number">2</text>
					<text x="1250" y="740" class="svg-number">3</text>
					<text x="1000" y="400" class="svg-number">1</text>

					
                    </g>
					
					<img src="/planoF.webp"/>
					
			</svg>
				<!-- -->
				
				
			  </div>

			  <aside class="mobile-text">
                <ul class="mobile-text-list">
                    <li class="room5">1. Salón-Comedor-Cocina <span >Ver Imagen</span></li>
                    <li class="texto-3d-impar room3">2. Dormitorio Principal <span>Ver Imagen</span></li> 
                    <li class="room4">3. Dormitorio Secundario <span >Ver Imagen</span></li> 
                    <li class="texto-3d-impar room2">4. Baño Dormitorio <span>Ver Imagen</span></li> 
                    <li class="room1">5. Aseo 2 <span >Ver Imagen</span></li> 
                </ul>
            </aside>
			
        </section>
		
		<div>
			<dialog id="modalSotano1" class="modal">
				<button class="closeButton"> &#9587;</button>
				<img src="/f-aseo1.webp" alt="ficha comercial" class="modalImage">
			</dialog>
			<dialog id="modalSotano2" class="modal">
				<button class="closeButton"> &#9587;</button>
				<img src="/f-aseo2.webp" alt="ficha comercial" class="modalImage">
			</dialog>
            <dialog id="modalSotano3" class="modal">
                <button class="closeButton"> &#9587;</button>
                <img src="/f-dorm1.webp" alt="ficha comercial" class="modalImage">
            </dialog>
            <dialog id="modalSotano4" class="modal">
                <button class="closeButton"> &#9587;</button>
                <img src="/f-dorm2.webp" alt="ficha comercial" class="modalImage">
            </dialog>
            <dialog id="modalSotano5" class="modal">
                <button class="closeButton"> &#9587;</button>
                <img src="/f-salon.webp" alt="ficha comercial" class="modalImage">
            </dialog>
			
			
		  </div>
		  
    </main>
</Layout>

<script type="module">
	//Make all modal open with their corresponding button

	document.querySelectorAll(".room1").forEach(room=>room.addEventListener("click",()=>{
	document.getElementById("modalSotano1").showModal()
}))
document.querySelectorAll(".room2").forEach(room=>room.addEventListener("click",()=>{
	document.getElementById("modalSotano2").showModal()
}))
document.querySelectorAll(".room3").forEach(room=>room.addEventListener("click",()=>{
    document.getElementById("modalSotano3").showModal()
}))
document.querySelectorAll(".room4").forEach(room=>room.addEventListener("click",()=>{
    document.getElementById("modalSotano4").showModal()
}))
document.querySelectorAll(".room5").forEach(room=>room.addEventListener("click",()=>{
    document.getElementById("modalSotano5").showModal()
}))



// Close all modals when you click on any X button

document.querySelectorAll(".closeButton").forEach((button)=>{
	button.addEventListener('click',()=>{
		document.querySelectorAll(".modal").forEach((m)=>m.close())}
	)
})

//Close Modal when you click anywhere on the backdrop


	document.getElementById("modalSotano1").addEventListener('click', (event)=> {
		  let rect = document.getElementById("modalSotano1").getBoundingClientRect();
		  let isInDialogA = (rect.top <= event.clientY && event.clientY <= rect.top + rect.height &&
		rect.left <= event.clientX && event.clientX <= rect.left + rect.width);
		  if (!isInDialogA) {
			document.getElementById("modalSotano1").close();
		  }
	});
	document.getElementById("modalSotano2").addEventListener('click', (event)=> {
		  let rectB = document.getElementById("modalSotano2").getBoundingClientRect();
		  let isInDialogB = (rectB.top <= event.clientY && event.clientY <= rectB.top + rectB.height &&
		rectB.left <= event.clientX && event.clientX <= rectB.left + rectB.width);
		  if (!isInDialogB) {
			document.getElementById("modalSotano2").close();
		  }
	});
    document.getElementById("modalSotano3").addEventListener('click', (event)=> {
          let rectC = document.getElementById("modalSotano3").getBoundingClientRect();
          let isInDialogC = (rectC.top <= event.clientY && event.clientY <= rectC.top + rectC.height &&
        rectC.left <= event.clientX && event.clientX <= rectC.left + rectC.width);
          if (!isInDialogC) {
            document.getElementById("modalSotano3").close();
          }
    });
    document.getElementById("modalSotano4").addEventListener('click', (event)=> {
          let rectD = document.getElementById("modalSotano4").getBoundingClientRect();
          let isInDialogD = (rectD.top <= event.clientY && event.clientY <= rectD.top + rectD.height &&
        rectD.left <= event.clientX && event.clientX <= rectD.left + rectD.width);
          if (!isInDialogD) {
            document.getElementById("modalSotano4").close();
          }
    });
    document.getElementById("modalSotano5").addEventListener('click', (event)=> {
          let rectE = document.getElementById("modalSotano5").getBoundingClientRect();
          let isInDialogE = (rectE.top <= event.clientY && event.clientY <= rectE.top + rectE.height &&
        rectE.left <= event.clientX && event.clientX <= rectE.left + rectE.width);
          if (!isInDialogE) {
            document.getElementById("modalSotano5").close();
          }
    });
	</script>


<style>
    body {
        overflow: hidden;
    }
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .tabs {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
    }
    .tab-button {
        padding: 12px 24px;
        border: none;
        background-color: hsl(240, 15%, 27%);
        color: hsl(240, 15%, 97%);
        cursor: pointer;
        font-size: 16px;
        border-radius: 4px;
        margin: 4px 1px;
        transition: background-color 0.3s;
    }
    .tab-button.selected {
        background-color: hsl(230, 100%, 69%);
    }
    .tab-button:hover {
        background-color: hsl(230, 100%, 75%);
    }
    section {
        background-color: hsl(240, 15%, 17%);
        height: calc(100vh - 48px);
        margin: 24px;
        border-radius: 13px;
        background-position: 50% 70%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .imageWrapper3D {
        position: relative;
        max-height: calc(100vh - 48px);
    }
    .imageWrapper3D img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }
    .image-area {
        position: absolute;
        left: 0;
        top: 0;
    }
    .toprow {
        fill: #75A93A;
        cursor: pointer;
        stroke: white;
        stroke-width: 4;
        z-index: 9;
        fill-opacity: 0.4;
    }
    .secondrow {
        fill: #75A93A;
        fill-opacity: 0;
        cursor: pointer;
    }
    .toprow:hover {
        fill-opacity: 0.6;
    }
    .secondrow:hover {
        fill-opacity: 0.6;
    }
    dialog {
        height: calc(100vh - 16px);
        border: none;
    }
    dialog::backdrop {
        background-color: #26263399;
    }
    .outline {
        fill: none;
        stroke: white;
        stroke-width: .2;
    }
    .svg-text {
        fill: #a93a75;
        font: bold 5rem "Poppins", sans-serif;
        pointer-events: none;
        display: block;
    }
    .svg-number {
        display: none;
        fill: #a93a75;
        font: bold 7rem "Poppins", sans-serif;
        z-index: 9;
    }
    .modal {
        width: fit-content;
        height: fit-content;
        border-radius: 12px;
        overflow: hidden;
        outline: none;
        background-color: white;
    }
    .modalImage {
        border-radius: 8px;
        max-width: 80vw;
        max-height: 80vh;
    }
    .layama {
        width: auto;
        height: 80vh;
        aspect-ratio: auto;
        max-width: 80vw;
    }
    .closeButton {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 8px;
        right: 8px;
        height: 48px;
        width: 48px;
        outline: none;
        background-color: hsl(240, 15%, 27%);
        color: hsl(240, 15%, 97%);
        cursor: pointer;
        font-size: 16pt;
        border: 2px hsl(240, 15%, 27%) solid;
        border-radius: 250px;
        text-align: center;
    }
    main {
        height: calc(100dvh - 80px);
    }
    ul {
        list-style-type: none;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .mobile-text {
        color: white;
        display: none;
        width: 100%;
    }
    .mobile-text li {
        display: flex;
        justify-content: space-between;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-inline: 8px;
    }
    .mobile-text span {
        cursor: pointer;
    }
    .texto-3d-impar {
        background-color: hsl(240, 15%, 37%);
    }
    @media (orientation: portrait) {
        .svg-number {
            display: block;
            pointer-events: none;
        }
        .layama {
            border-radius: 12px;
            border: solid 8px white;
            max-width: 90vw;
        }
        .svg-text {
            display: none;
        }
        .mobile-text {
            display: flex;
        }
        section {
            height: auto;
            width: 100%;
            margin: 0;
        }
        .modal {
            padding: 0;
            max-height: calc(100vh - 80px);
        }
        .modalImage {
            margin: 0;
            border: 15px solid white;
            
        }
        .mobile-text-list {
            display: flex;
            flex-direction: column;
            gap: 0px;
            margin-bottom: 40px;
        }
        .mobile-text-list li {
            padding-top: 8px;
            padding-bottom: 8px;
            padding-inline: 8px;
        }
        main {
            height: calc(100dvh - 80px);
            overflow: scroll;
        }
        .closeButton {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    }
</style>
